
@font-face {
    font-family: Alphabetum;
    src: url("/static/fonts/ALPHABETUM_v_12.00.otf") format("opentype");
}

@font-face {
    font-family: Alphabetum;
    src: url("/static/fonts/ExtraSymbols.otf") format("truetype");
    unicode-range: U+2C41;
}

.alphabetum {
    font-family: Alphabetum!important;
}
