@font-face {
  font-family: Alphabetum;
  src: url("../fonts/ALPHABETUM_v_12.00.otf") format("opentype");
}

@font-face {
  font-family: Alphabetum;
  src: url("../fonts/ExtraSymbols.otf") format("opentype");
  unicode-range: U+2C41;
}
@font-face {
  font-family: Alphabetum;
  src: url("../fonts/Volusius_Maecianus_fractions.otf") format("opentype");
  unicode-range: U+E000-E011;
}

@font-face {
  font-family: Alphabetum;
  src: url("../fonts/Victorius_fractions-Regular.otf") format("opentype");
  unicode-range: U+E012-E022;
}

.alphabetum {
  font-family: Alphabetum !important;
}
