/* not sure this book table is a thing anymore */
table.books-widget {
  width: 100%;
}

table.books-widget .book-num {
  width: 10%;
}

table.books-widget .book-title {
  width: 60%;
}

table.books-widget .book-date {
  width: 20%;
}

table.books-widget .book-order {
  width: 10%;
}

.alert-debug {
  background-color: #fff;
  border-color: #d6e9c6;
  color: #000;
}

.errorlist,
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.search-snippet {
  background-color: yellow;
}

/**** base ****/
.subtle-bg {
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        rgba(237, 228, 228, 0.34) 68% 70%,
        #0000 72%
      )
      60px 60px / calc(2 * 60px) calc(2 * 60px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        rgba(237, 228, 228, 0.34) 68% 70%,
        #0000 72%
      )
      60px 60px / calc(2 * 60px) calc(2 * 60px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        rgba(237, 228, 228, 0.34) 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 60px) calc(2 * 60px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        rgba(237, 228, 228, 0.34) 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 60px) calc(2 * 60px),
    repeating-conic-gradient(#f8fcfd 0 25%, #0000 0 50%) 0 0 / calc(2 * 60px)
      calc(2 * 60px),
    radial-gradient(#0000 66%, rgba(237, 228, 228, 0.34) 68% 70%, #0000 72%) 0
      calc(60px / 2) / 60px 60px #f8fcfd;
}
.bg-stone.navbar {
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        rgba(247, 251, 252, 0.46) 68% 70%,
        #0000 72%
      )
      60px 60px / calc(2 * 60px) calc(2 * 60px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        rgba(247, 251, 252, 0.46) 68% 70%,
        #0000 72%
      )
      60px 60px / calc(2 * 60px) calc(2 * 60px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        rgba(247, 251, 252, 0.46) 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 60px) calc(2 * 60px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        rgba(247, 251, 252, 0.46) 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 60px) calc(2 * 60px),
    repeating-conic-gradient(#e6e6e4 0 25%, #0000 0 50%) 0 0 / calc(2 * 60px)
      calc(2 * 60px),
    radial-gradient(#0000 66%, rgba(247, 251, 252, 0.46) 68% 70%, #0000 72%) 0
      calc(60px / 2) / 60px 60px #e6e6e4;

  box-shadow: -6px 6px 12px #c5c5c5, 6px -6px 12px #fbfbfb;
}
.sidenav {
  background-color: rgba(218, 213, 212, 0.15);
}
.navbar-brand {
  white-space: normal; /* Allow text to wrap */
  font-family: "Noto Serif", serif;
  font-weight: 600;
  color: #413f3f !important;
  font-size: 1.6rem;
  max-width: 55vw;
}
.content-area {
  background: #f8fcfddf;
  backdrop-filter: blur;
  box-shadow: 0 0 10px 10px #f8fcfd47;
}

.toggle-element,
.toggle-switch {
  display: none;
}
.toggle-element-button {
  text-decoration: none !important;
}
.toggle-element-button:after {
  content: "+";
}
.toggle-element-button.open:after {
  content: "-";
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  border-radius: 50px;
  height: 60px;
  z-index: 12;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.open-button:focus {
  outline: 0;
}

.drop-target {
  display: none;
  height: 10px;
  background: #f8f9fa;
  border-color: gray;
  border-style: dashed;
  border-width: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.drop-target.over {
  height: 100px;
}

/* hidden by default */
.symbol-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 13;
}
.symbol-area {
  overflow-x: hidden;
  z-index: 13;
}

/* Add styles to the form container */
.symbol-popup .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  z-index: 13;
}

.symbol-palette {
  display: none;
  max-height: 33vh;
  overflow-y: auto;
  z-index: 13;
}

/* .ordered-list-item:first-of-type .form-group [name*='up']  {
  opacity:0.5;
  pointer-events:none;
}

.ordered-list-item:last-of-type .form-group [name*='down']  {
  opacity:0.5;
  pointer-events:none;
} */

/* Full-width textarea */
.symbol-popup .form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.symbol-popup .form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Add some hover effects to buttons */
.symbol-popup .form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.symbol-popup.picker.open {
  display: block;
  z-index: 13;
}
.symbol-popup.picker {
  display: none;
}

.open-button.picker {
  background-color: #007bff;
  z-index: 5;
}
.open-button.picker:after {
  font-family: "Font Awesome 5 Free";
  content: "\f11c";
  font-size: 24px;
  line-height: 30px;
  margin-left: -3px;
}
.open-button.picker.open:after {
  font-family: "Arial, Helvetica, sans-serif";
  text-align: center;
  content: "\00d7";
  font-size: 24px;
  line-height: 24px;
  margin-left: 0px;
}
#id_antiquarians.checkbox,
#id_topics.checkbox {
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #ced4da;
  padding-left: 10px;
  padding-top: 5px;
  border-radius: 0.25rem;
}

/***** other base, "temporary demo css" ******/

.bad-link {
  height: 24px;
  border-radius: 6px;
  padding: 3px;
  margin-right: 2px;
  user-select: all;
  color: red;
  background: #f1baba !important;
  /* font-weight: bold; */
}

.alphabetum {
  font-family: Alphabetum !important;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
form a,
form button,
.actions a {
  font-family: Arial, Helvetica, sans-serif !important;
  font-size: initial !important;
}
.form-control {
  font-size: 1.1rem;
}
.historical {
  font-family: "Alphabetum";
}
.also {
  font-size: 80%;
  color: #888;
}
.historical .also {
  font-size: 18px;
}
.alphabetum,
dd,
.form-control,
.rard-list-item,
.form-group label {
  font-family: "Alphabetum";
  font-size: large;
}

.rard-list-item {
  font-family: "Alphabetum";
}
/* .rard-list-item-actions {
  visibility: hidden;
}
.rard-list-item:hover .rard-list-item-actions {
  visibility: visible;
} */
.rard-list-item-actions {
  display: flex;
}
.rard-list-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.rard-list-item:hover {
  background: #f8f9fa;
}
.required label::after {
  content: "*";
}
img.character {
  height: 1em !important;
  max-height: 1em !important;
  padding: 0.2em 0em !important;
  width: auto !important;
}
img.character.asterisk {
  content: url("/static/images/characters/asterisk.svg");
}
img.character.diple_periestigmene {
  content: url("/static/images/characters/diple_periestigmene.svg");
}
.show-detail.collapsed::after {
  content: "+";
}
.show-detail::after {
  content: "-";
}
.toggle-element.hidden {
  display: none !important;
}
.toggle-element {
  display: block !important;
}
button.insert {
  width: 30px;
  height: 30px;
  margin: 5px 5px 5px 5px;
}
.non-prod-column {
  position: fixed;
  left: 0;
  width: 1vw;
  height: 100vh;
  background-color: #ffff00;
}

/****************** editor related *********************/

.mention.error {
  background: #f1baba !important;
}
.rich-editor {
  font-family: Alphabetum !important;
}
.rich-editor__wrapper {
  min-height: 400px;
  padding-bottom: 60px;
}
.rich-editor__wrapper--bibliography-title {
  max-height: 100px;
  min-height: 1px; /* this will take precedence over the generic one */
}
.rich-editor__wrapper--app-crit {
  min-height: 30px;
  padding-bottom: 30px;
}
\0305 {
  /* vincula symbol looks short in new font */
  width: 120%;
}
.text-object-preview p {
  padding: 0;
  margin: 0;
}
#plugin-info {
  margin-bottom: 0.6rem;
}
.cke_widget_element.mention {
  background-color: #d4d2d2;
}
/**** extras ****/

.fa.fa-user,
.fa.fa-book,
.fa.fa-bookmark {
  padding-right: 0.1rem;
}

.definite-indicators {
  padding-right: 0.3rem;
}

.unstyled {
  list-style-type: none;
}
.inline-worklink__form {
  border: 1px solid #dfdddd;
  border-radius: 5px;
  padding: 1rem;
}
.inline-worklink__form-field label {
  font-size: 97%;
}

.inline-worklink__form-field p {
  font-family: "Alphabetum";
}

.inline-worklink__form-field {
  display: flex;
  justify-content: space-between;
}

#bib-inline-form.htmx-added {
  opacity: 0;
  max-height: 0;
}

#bib-inline-form {
  opacity: 1;
  max-height: 60vh;
  transition: max-height 1s ease-out, opacity 1s ease-out;
}

#bib-inline-form textarea {
  overflow: auto;
  max-height: 6rem;
  min-height: 3rem;
  resize: vertical;
}

section.footnotes {
  color: #6c757d;
  font-size: 80%;
  border-top: 1px solid #ccc;
  margin-top: 2em;
  padding-top: 1em;
  h2 {
    font-size: large;
  }
}

.apparatus-criticus-line p {
  margin: 0;
}

/* for concordance form */
.concordance-form__area {
  min-height: 30vh;
  margin-inline: 2vw;

  [disable-selection="true"] {
    color: gray;
    pointer-events: none;
    background-color: #e9ecef;
  }
  .new-edition {
    column-gap: 4vw;
    > .form-group {
      margin-right: 3vw;
      width: fit-content;
      max-width: 35vw;
    }
  }
  .form-group:has(#id_content_type),
  .form-group:has(#id_display_order),
  .form-group:has(#id_reference),
  .form-group:has(#id_concordance_order) {
    width: fit-content;
    max-width: 30vw;
  }

  .concordance-cancel {
    position: absolute;
    bottom: 1rem;
    left: 8rem;
  }
}

/* concordance search */
.concordance-search__wrapper {
  column-gap: 3vw;
  .form-group {
    margin-inline: 0.5rem;
    max-width: 50%;
  }
}
.loader-wrapper {
  display: flex;
  justify-content: center;
}
#loader {
  position: absolute;
  min-height: fit-content;
}
.loader {
  visibility: hidden;
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  --c: #0000 calc(100% / 3), #66929f 0 calc(2 * 100% / 3), #0000 0;
  --c1: linear-gradient(90deg, var(--c));
  --c2: linear-gradient(0deg, var(--c));
  background: var(--c1), var(--c2), var(--c1), var(--c2);
  background-size: 300% 4px, 4px 300%;
  background-repeat: no-repeat;
  animation: l11 1s infinite linear;
}
.loader:after {
  margin: 10px;
  transform: scaleX(-1);
  animation-delay: -0.25s;
}
@keyframes l11 {
  0% {
    background-position: 50% 0, 100% 100%, 0 100%, 0 0;
  }
  25% {
    background-position: 0 0, 100% 50%, 0 100%, 0 0;
  }
  50% {
    background-position: 0 0, 100% 0, 50% 100%, 0 0;
  }
  75% {
    background-position: 0 0, 100% 0, 100% 100%, 0 50%;
  }
  75.01% {
    background-position: 100% 0, 100% 0, 100% 100%, 0 50%;
  }
  100% {
    background-position: 50% 0, 100% 0, 100% 100%, 0 100%;
  }
}
