table.books-widget {
    width: 100%
}

table.books-widget .book-num {
    width: 10%
}

table.books-widget .book-title {
    width: 60%
}

table.books-widget .book-date {
    width: 20%
}

table.books-widget .book-order {
    width: 10%
}

.alert-debug {
    background-color: #fff;
    border-color: #d6e9c6;
    color: #000
}

.errorlist,
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48
}

.search-headline {
    background-color: yellow;
}
