{% extends "registration/base.html" %}
{% load i18n bootstrap4 %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block inner %}
<form method="post" action="">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class='btn btn-primary btn-block' type="submit" value="{% trans 'Log in' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot your password?" %} <a href="{% url 'password_reset' %}">{% trans "Reset it" %}</a>.</p>
{% endblock %}

