// project specific CSS goes here
table.books-widget {
    width: 100%;
    .book-num {
        width: 10%;
    }
    .book-title {
        width: 60%;
    }
    .book-date {
        width: 20%;
    }
    .book-order {
        width: 10%;
    }
}

////////////////////////////////
//Variables//
////////////////////////////////

// Alert colors

$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

////////////////////////////////
//Alerts//
////////////////////////////////

// bootstrap alert CSS, translated to the django-standard levels of
// debug, info, success, warning, error
.alert-debug {
    background-color: $white;
    border-color: $mint-green;
    color: $black;
}

.errorlist,
.alert-error {
    background-color: $pink;
    border-color: $dark-pink;
    color: $red;
}
