{# for selecting topic for anonymous fragment list page #}

<form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='GET'>
    <div class="form-row align-items-center">
        <div>
            <select class="submit-on-change form-control form-control-sm" name='selected_topic'>
                {% for i in topics %}
                <option value={{ i.0 }} {% if i.1 == selected_topic.name %}selected{% endif %}>{{ i.1 }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</form>
