{# for sorting lists of model objects derived from DatedBaseModel #}

<form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='GET'>
    <div class="form-row align-items-center">
        <div>
            <select class="submit-on-change form-control form-control-sm" name='display_order'>
                <option value='by_topic' {% if display_order == 'by_topic' %}selected{% endif %}>Default ordering</option>
                <option value='by_reference' {% if display_order == 'by_reference' %}selected{% endif %}>By reference number</option>
            </select>
        </div>
    </div>
</form>
