{# Assumes a context object named 'link'  #}

{% load i18n show_citing_info %}

<div class='drop-target' data-pos='{{ forloop.counter0 }}' data-objecttype='anonymoustopiclink'>
</div>
<div id='link_{{ link.pk }}' data-anonymoustopiclink='{{ link.pk }}' draggable='false' data-objecttype='anonymoustopiclink' data-pos='{{ forloop.counter0 }}' class='drag-item ordered-list-item rard-list-item d-flex justify-content-between'>
    <div>
        <li style="list-style-type:none">
            <span>
                {% with link.fragment.get_display_name as link_text %}
                    {% if perms.research.view_fragment %}
                    <a href='{% url "anonymous_fragment:detail" link.fragment.pk %}'>{{ link_text }}</a>
                    {% else %}
                        {{ link_text }}
                    {% endif %}
                {% endwith %}
                {% include 'research/partials/render_inline_lock_icon.html' with object=fragment %}

                <button class="btn btn-link toggle-element-button" type="button" data-toggles="anonfragment_{{ link.fragment.pk }}"></button>
            </span>
        </li>
        <div>
            <div id='anonfragment_{{ link.fragment.pk }}' class="toggle-element card border-0 pt-1 pb-0 bg-transparent card-body">
            <small>
                <span class='text-muted'>

                    {% with citing_author=citing_author|default:None %}
                    {{ link.fragment|show_citing_info:citing_author|safe }}
                    {% endwith %}

                </span>
            </small>
            </div>
        </div>
    </div>
    <div class='rard-list-item-actions'>
        {% if can_edit %}
        <button type='button' data-anonymoustopiclink='{{ link.pk }}' data-objecttype='anonymoustopiclink' class='drag-handle btn btn-light' style='cursor: move;' data-pos='{{ forloop.counter0 }}'><i class='fas fa-bars'></i></button>
        <button data-anonymoustopiclink='{{ link.pk }}' data-objecttype='anonymoustopiclink' data-pos='{{ forloop.counter0 }}' type='button' class='btn btn-light btn-sm' {% if forloop.first %}disabled{% endif %}
            name='fragment_up'><i class='fas fa-caret-up'></i></button>
        <button data-anonymoustopiclink='{{ link.pk }}' data-objecttype='anonymoustopiclink' data-pos='{{ forloop.counter0 }}' type='button' class='btn btn-light btn-sm' {% if forloop.last %}disabled{% endif %}
            name='fragment_down'><i class='fas fa-caret-down'></i></button>
    {% endif %}
    </div>
</div>
{% if forloop.last %}
{# add drop target at end #}
<div class='drop-target' data-pos='{{ forloop.counter }}' data-objecttype='anonymoustopiclink'>
</div>
{% endif %}
