{# Assumes a context object named 'antiquarian' #}

{% load i18n %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li>
            {% with antiquarian.name as link_text %}
                {% if perms.research.view_antiquarian %}
                <a href='{% url "antiquarian:detail" antiquarian.pk %}'>
                    {{ link_text }} 
                </a> 
                {% else %}
                    {{ link_text }}
                {% endif %}
            {% endwith %}
        </li>
    </div>
    <div class='rard-list-item-actions'>
    </div>
</div>
