{# takes context var original_text #}
{% load i18n bootstrap4 static %}
{% load entity_escape %}

<style>
    /* .show-apparatus-criticus-form {
        display:none;
    } */
    .delete-apparatus-criticus-line {
        visibility:hidden;
    }
    .edit-apparatus-criticus-line {
        visibility:hidden;
    }
    .add-after-apparatus-criticus-line {
        visibility:hidden;
    }
    .apparatus-criticus-line:hover .delete-apparatus-criticus-line {
        visibility:visible;
    }
    .apparatus-criticus-line:hover .edit-apparatus-criticus-line {
        visibility:visible;
    }
    .apparatus-criticus-line:hover .add-after-apparatus-criticus-line {
        visibility:visible;
    }
    /* .show-add-button-area:hover > .show-apparatus-criticus-form {
        display:block;
    } */
    .show-add-button-area:hover {
        height: auto!important;
        background-color: transparent!important;
    }
    .show-add-button-area {
        width: 100%;
        height: 12px;
    }
    .show-apparatus-criticus-form.btn {
        border-radius: 50%;
    }
</style>

<div id='apparatus_criticus_builder_area'>
    <div class='form-group'>

        <label class='pb-3'>Apparatus Criticus Builder</label>
        {% if original_text %}

            {% for line in original_text.apparatus_criticus_lines %}

            {% if forloop.first and original_text.apparatus_criticus_lines.count > 0 %}
                <div>
                    <button type='button' data-index='0' class='show-apparatus-criticus-form btn btn-light btn-sm'>+</button>
                </div>
            {% endif %}

            <div class='apparatus-criticus-line ml-5 my-0 d-flex flex-row align-items-center'>
                <div class='historical'>{{ line.order|add:1 }}</div><div id="appcrit{{line.pk}}" class='ml-3' contenteditable="false">{{ line.content|safe }}</div>
                <button data-id='{{ line.pk }}' class='edit-app-crit-toggle btn btn-link text-primary btn-sm'>Edit</button>
                <button data-action='{% url "delete_apparatus_criticus_line" %}' data-index='{{ line.order }}' data-id='{{ line.pk }}' class='line-action delete-apparatus-criticus-line btn btn-link text-danger btn-sm'>Delete</button>
            </div>
            {% comment %}
            <button type='button' data-index='{{ forloop.counter }}' class='add-after-apparatus-criticus-line show-apparatus-criticus-form btn btn-light btn-sm'>
            {% endif %} {% endcomment %}
            {% if not forloop.last %}
            <button type='button' data-index='{{ forloop.counter }}' class='show-apparatus-criticus-form btn btn-light btn-sm'>
                    +
            </button>
            {% endif %}

            {% endfor %}
            <div>
                <button type='button' data-index='{{ original_text.apparatus_criticus_lines.count }}' class='show-apparatus-criticus-form btn btn-light btn-sm'>
                    {% comment %} {% if original_text.apparatus_criticus_lines.count > 0 %}
                    Add Line to end
                    {% else %}
                    Add Line
                    {% endif %} {% endcomment %}
                    +
                </button>
            </div>
        {% endif %}
    </div>

    <div id='new_apparatus_criticus_line_area' class='mt-3' style='display:none;'>
        {% bootstrap_field form.new_apparatus_criticus_line show_label=False %}
        <div class='d-flex flex-row-reverse'>
            <button type='button' id='cancel-new-apparatus-criticus-line' class=' btn btn-secondary btn-sm'>Cancel</button>
            <button type='button' data-parent='{{ original_text.pk }}' data-action='{% url "create_apparatus_criticus_line" %}' id='submit-new-apparatus-criticus-line' class=' mx-2 btn btn-success btn-sm'>Add Line</button>
            <button type='button' data-id='{{ line.pk }}' data-action='{% url "update_apparatus_criticus_line" %}' id='update-apparatus-criticus-line' class=' mx-2 btn btn-success btn-sm'>Save Line</button>
        </div>
    </div>

</div>
