{# Assumes a context object named 'link' and 'link_text' #}

{% load i18n %}

{% with fragment=link.linked %}
<div class='ordered-list-item rard-list-item d-flex justify-content-between'>
    <div>
        <li>
                {% if perms.research.view_fragment %}
                <a href='{% url "anonymous_fragment:detail" fragment.pk %}'>{{ link_text }}</a> 
                {% else %}
                    {{ link_text }}
                {% endif %}
            <br>
            <small>
                <span class='ml-4 text-muted'>
                    {{ fragment.get_citing_display|safe }}
                </span>
            </small>
        </li>
    </div>
    <div class='rard-list-item-actions'>
        
        {% if can_edit and has_object_lock %}
        <form novalidate class='form-inline' action='' method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <input type='hidden' name='link_id' value='{{ link.pk }}'>
                <input type='hidden' name='object_type' value='anonymous_fragment'>
                <button type='submit' class='btn btn-light'  {% if forloop.first %}disabled{% endif %}
                    name='up_by_work'>▲</button>
                <button type='submit' class='btn btn-light'  {% if forloop.last %}disabled{% endif %}
                    name='down_by_work'>▼</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endwith %}