{# Assumes context object named 'item' #}
{#bibliography now not a child of only antiquarian, so can't edit from here#}

{% load i18n humanize %}


<div class='rard-list-item'>
    <div class='row'>

            <div class="col-sm-3"><a href='{% url "bibliography:detail" item.pk %}'>{{ item.authors }}</a></div>
            <div class="col-sm-2">{% if item.year %}{{ item.year }}{% endif %}</div>
            <div class="col-sm-4"><a href='{% url "bibliography:detail" item.pk %}'>{{ item.title|safe }}</a></div>


    </div>
</div>
