{# Assumes a context object named 'citingwork' #}

{% load i18n %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li>
            {% with citingwork.title as link_text %}
                {% if perms.research.view_citingwork %}
                <a href='{% url "citingauthor:work_detail" citingwork.pk %}'>{{ link_text }}</a>
                {% else %}
                    {{ link_text }}
                {% endif %}
                {% if citingwork.display_date_range %}
                <span class='date-range-element text-muted'><small>[{{ citingwork.display_date_range }}]</small></span>
                {% endif %}
                {% include 'research/partials/render_inline_lock_icon.html' with object=citingwork %}
            {% endwith %}
        </li>
    </div>
    <div class='rard-list-item-actions'>
    </div>
</div>
