    
{% load i18n bootstrap4 %}

    <div class='required'>
        <label for="id_content">{% trans 'Citing Work' %}</label>
    </div>
    <div class='card mb-3'>
        <div class='card-body'>
            {% bootstrap_field forms.original_text.citing_work %}

            <div class='rard-toggle-control' data-on-show='#newCitingWorkArea' data-on-disable='#id_citing_work'>
                {% bootstrap_field forms.new_citing_work.new_citing_work %}
            </div>
            <div class="collapse" id="newCitingWorkArea">
                <div class="card card-body">
                    {% bootstrap_field forms.new_citing_work.author %}
                    <div class='rard-toggle-control' data-on-show='#newAuthorArea' data-on-disable='#id_author'>
                        {% bootstrap_field forms.new_citing_work.new_author %}
                    </div>
                    <div id='newAuthorArea'>
                    {% bootstrap_field forms.new_citing_work.new_author_name %}
                    </div>
                    {% bootstrap_field forms.new_citing_work.title %}
                    {% bootstrap_field forms.new_citing_work.edition %}
                </div>
            </div>
        </div>
    </div>
