    <style>
        /* disable links while editing */
        .main-content a:not(.inline-cancel-button)  {
            pointer-events: none;
            cursor: default;
            color: black;
            /* opacity: 0.5; */
        }
        .main-content button[type=submit]:not(.inline-save-button, .dynamic-link-button)  {
            pointer-events: none;
            opacity: 0.5;
        }
        body {
            background-color:#f8f9fa;
        }
    </style>
