{# Assumes a context object named 'fragment' and an optional 'citing_author' if you want them first in the citing info string #}

{% load i18n show_citing_info %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li>
            <span>
                {% with fragment.get_display_name as link_text %}
                    {% if perms.research.view_fragment %}
                    <a href='{% url "fragment:detail" fragment.pk %}'>{{ link_text }}</a> 
                    {% else %}
                        {{ link_text }}
                    {% endif %}
                {% endwith %}
                {% include 'research/partials/render_inline_lock_icon.html' with object=fragment %}
            </span>
        </li>
        <div>
            <div class="card border-0 pt-1 pb-0 bg-transparent card-body">
            <small>
                <span class='text-muted'>

                    {% with citing_author=citing_author|default:None %}
                    {{ fragment|show_citing_info:citing_author|safe }}
                    {% endwith %}


                    {% comment %}
                    {% if not fragment.get_all_names %}
                        No links
                    {% else %}
                    <ul class='pl-3'>
                        {% for name in fragment.get_all_names %}
                        <li>
                            {{ name }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endcomment %}
                </span>
            </small>
            </div>
        </div>     
    </div>
    <div class='rard-list-item-actions'>
    </div>
</div>
