{# Assumes a context object named 'fragment' #}

{% load i18n %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li>
            {% with fragment.get_display_name as link_text %}
                {% if perms.research.view_fragment %}
                <a href='{% url "fragment:detail" fragment.pk %}'>
                    {{ link_text }}
                </a> 
                {% else %}
                    {{ link_text }}
                {% endif %}
            {% endwith %}
            <br>
            <small>
                <span class='ml-4 text-muted'>
                    [{{ link.get_display_name }}] - <b>{{ link.definite|yesno:"Definite,Possible"}}</b> link {% if link.work %}via work {{ link.work }} {% if link.volume %} vol. {{ link.volume.number }}{% endif %}{% endif %}
                </span>
            </small>
        </li>
    </div>
    <div class='rard-list-item-actions'>
        <form novalidate class='form-inline' action='' method='POST'>
            {% csrf_token %}
            <div class='form-group'>
                <input type='hidden' name='link_id' value='{{ link.pk }}'>
                <input type='hidden' name='object_type' value='fragment'>
                <button type='submit' class='btn btn-light'
                    name='up'>▲</button>
                <button type='submit' class='btn btn-light'
                    name='down'>▼</button>
            </div>
        </form>
    </div>
</div>
