{# Assumes a context object named 'fragment' #}

{% load i18n %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li class='d-flex align-items-center'>
            <span>
                {% with fragment.get_display_name as link_text %}
                    {% if perms.research.view_fragment %}
                    <a href='{% url "fragment:detail" fragment.pk %}'>
                        {{ link_text }}
                    </a> 
                    {% else %}
                        {{ link_text }}
                    {% endif %}
                {% endwith %}
            </span>
            <span>
                <span class="text-muted ml-2 show-detail collapsed" type="button" data-toggle="collapse" data-target="#detail_{{ fragment.pk }}" aria-expanded="false" aria-controls="collapseExample">
                </span>  
            </span>  
        </li>
        <div class="collapse" id="detail_{{ fragment.pk }}">
            <div class="card border-0 pb-0 bg-transparent card-body">
            <small>
                <span class='text-muted'>

                    {% if not fragment.get_all_names %}
                        No links
                    {% else %}
                    <ul class='pl-3'>
                        {% for name in fragment.get_all_names %}
                        <li>
                            {{ name }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </span>
            </small>
            </div>
        </div>     
    </div>
    <div class='rard-list-item-actions'>
    </div>
</div>
