{% load i18n links_for_work %}
{% with object=antiquarian %}

<div class='ordered-list parent-ordering-group'>

    <div class='ordered-list'>
        <ul class='parent-ordering-group'>

            {% with utlinks=object|testimonium_links_for_work:object.unknown_work %}

            {% for link in utlinks %}
                {% include 'research/partials/testimonium_link_list_item.html' with link=link link_text=link.get_display_name|safe can_edit=can_edit has_object_lock=has_object_lock %}
            {% endfor %}

            {% endwith %}

        </ul>
    </div>

    <button type='button' id="multi-collapse-control" class="btn btn-outline-secondary btn-sm mb-2 exp" data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="{% for work in object.ordered_works.all %}list_{{ work.pk }} {% endfor %}">{% trans "Expand all" %}</button>

    <div class='drop-target' data-pos='0' data-objecttype='work'></div>
    {% for work in object.ordered_works.all %}
        {% with tlinks=object|testimonium_links_for_work:work %}
        {% with flinks=object|fragment_links_for_work:work %}
        {% with alinks=object|appositum_links_for_work:work %}

        <div id='work_{{ work.pk }}' class='parent-ordering-group drag-item ordered-list-item' draggable='false' data-work='{{ work.pk }}' data-antiquarian='{{ object.pk }}' data-objecttype='work' data-pos='{{ forloop.counter0 }}'>
            <div class='d-flex justify-content-between w-100'>
                <div>
                {% if work.unknown == True or work.bibliographic == True %}
                    <b class='my-3 mr-1'><a href='{% url "work:detail" work.pk %}' >{{ work.name }}</a></b>

                    <button type='button' class="btn btn-outline-primary btn-sm pl-2 badge badge-pill collapse-button sans-serif" data-toggle="collapse" data-target="#list_{{work.pk}}" role="button" aria-expanded="false" aria-controls="list_{{work.pk}}">
                        {{ tlinks.count|add:flinks.count|add:alinks.count }}
                        <i class='fas ml-2 fa-chevron-down'></i>
                    </button>
                {% else %}
                    <b class='my-3 mr-1'><a href='{% url "work:detail" work.pk %}'>{{ work.name }}</a></b>
                    <button type='button' class="btn btn-outline-primary collapse-button sans-serif badge badge-pill" data-toggle="collapse" data-target="#list_{{work.pk}}" role="button" aria-expanded="false" aria-controls="list_{{work.pk}}">
                        {{ tlinks.count|add:flinks.count|add:alinks.count }}
                        <i class='fas ml-2 fa-chevron-down'></i>
                    </button>

                    {% if can_edit and has_object_lock %}
                        <button type='button' class='drag-handle btn btn-light btn-sm' style='cursor: move;' data-pos='{{ forloop.counter0 }}'><i class='fas fa-bars'></i></button>

                        <button data-work='{{ work.pk }}' data-antiquarian='{{ object.pk }}' data-objecttype='work'
                            data-pos='{{ forloop.counter0 }}' type='button' class='btn btn-light btn-sm' {% if forloop.first or disable_link_controls %}disabled{% endif %} name='work_up'><i class='fas fa-caret-up'></i></button>
                        <button data-work='{{ work.pk }}' data-antiquarian='{{ object.pk }}' data-objecttype='work'
                            data-pos='{{ forloop.counter0 }}' type='button' class='btn btn-light btn-sm' {% if forloop.last or disable_link_controls %}disabled{% endif %} name='work_down'><i class='fas fa-caret-down'></i></button>
                    {% endif %}
                {% endif %}
                </div>

                <div>
                    {% if can_edit and has_object_lock %}
                    <a href='{% url "anonymous_fragment:create_appositum_for" "work" work.pk %}'>{% trans 'Create Appositum' %}</a>
                    {% endif %}
                </div>
            </div>

        {% if work.introduction and not work.unknown %}
            {% include 'research/partials/text_object_preview.html' with text_object=work.introduction truncate=True %}
        {% endif %}


            <ul class="collapse multi-collapse" id="list_{{work.pk}}">
                <div class='ordered-list'>

                    {% if tlinks %}
                    {% for link in tlinks %}
                        {% include 'research/partials/testimonium_link_list_item.html' with link=link link_text=link.get_work_display_name_full|safe can_edit=False has_object_lock=has_object_lock %}
                    {% endfor %}
                    {% endif %}

                    {% if flinks %}
                    {% for link in flinks %}
                        {% include 'research/partials/fragment_link_list_item.html' with link=link  link_text=link.get_work_display_name_full|safe can_edit=False has_object_lock=has_object_lock %}
                    {% endfor %}
                    {% endif %}

                    {% if alinks %}
                    {% for link in alinks %}
                        {% include 'research/partials/appositum_fragment_link_list_item.html' with link=link link_text=link.get_work_display_name_full|safe can_edit=can_edit has_object_lock=has_object_lock %}
                    {% endfor %}
                    {% endif %}

                    {% if not flinks and not tlinks and not alinks %}
                    {% if work.unknown == False %}
                    <div class='text-muted my-3 ml-4'><em>No linked material for this work</em></div>
                    {% endif %}
                    {% endif %}


                </div>
            </ul>
        </div>
        {% endwith %}
        {% endwith %}
        {% endwith %}


        {% if work.bibliographic == False and work.unknown == False %}
        <div class='drop-target' data-pos='{{ forloop.counter }}' data-objecttype='work'>
        </div>
        {% endif %}

    {% endfor %}

</div>

{% endwith %}

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        var collapseElementList = [].slice.call(document.querySelectorAll('ul.collapse'));
        var collapseButtonList = [].slice.call(document.querySelectorAll('.collapse-button'));
        var expandAllBtn = document.getElementById('multi-collapse-control');

        $('#multi-collapse-control').click(function(e) {
            // when the expand all button is clicked handle collapse/show manually (jQuery)
            e.preventDefault();

           if ($(this).hasClass('exp')) {

                $('ul.collapse').each(function() {
                    $(this).collapse('show');
                    e.stopPropagation();
                });
            } else {
                $('ul.collapse').each(function() {
                    $(this).collapse('hide');
                    e.stopPropagation();
                });
            }
        });

        function onClassChange(mutationList, observer) {
            mutationList.forEach((mutation) => {
                if (mutation.type === 'attributes' && mutation.attributeName === 'class') {
                    let targetElement = mutation.target;
                    if (targetElement.classList.contains('show')) {
                        // Find the button that controls this collapsible element and update the content
                        var btn = collapseButtonList.find(btn => btn.getAttribute('data-target') === '#' + targetElement.id);
                        if (btn) {
                            btn.querySelector("i").classList.remove("fa-chevron-down");
                            btn.querySelector("i").classList.add("fa-chevron-up");

                        }
                    } else {
                        var btn = collapseButtonList.find(btn => btn.getAttribute('data-target') === '#' + targetElement.id);
                        if (btn) {
                            btn.querySelector("i").classList.remove("fa-chevron-up");
                            btn.querySelector("i").classList.add("fa-chevron-down");
                        }
                    }

                    // Only change expand all to collapse all if all are open
                    if (collapseElementList.length === collapseElementList.filter(el => el.classList.contains('show')).length) {
                        expandAllBtn.innerText = "{% trans 'Collapse all' %}";
                        expandAllBtn.classList.remove('exp');
                    }
                    else {expandAllBtn.innerText = "{% trans 'Expand all' %}";
                        expandAllBtn.classList.add('exp');
                    }
                }
            });
        }

        // for each collapse element, attach a mutation observer
        collapseElementList.forEach( (collapseEl)=> {
            const observer = new MutationObserver(onClassChange);

            // Start observing for changes to class
            observer.observe(collapseEl, {
                attributes: true,
                attributeFilter: ['class']
            });

        });

    });
</script>
