{% load i18n bootstrap4 %}

{% load crispy_forms_tags %}

<div id="reference-form-area">
{{ forms.references.management_form }}


{% for field in forms.references %}
<div class="reference-form">
    {% crispy field %}
</div>
{% endfor %}  

<p class='add-form btn btn-light btn-sm' id="add-reference-form">
    + Add another reference
</p> 

</div>
<br>

{% bootstrap_field forms.original_text.content field_class='d-none' %}
{% include 'research/partials/rich_text_editor.html' with field=forms.original_text.content %}
{% bootstrap_field forms.original_text.apparatus_criticus_blank %}


<script>
    let referenceForm = document.querySelectorAll(".reference-form")
    let container = document.querySelector("#reference-form-area")
    let addButton = document.querySelector("#add-reference-form")
    let totalForms = document.querySelector("#id_references-TOTAL_FORMS")

    let formNum = referenceForm.length-1
    addButton.addEventListener('click', addForm)

    function addForm(e){
        e.preventDefault()
        console.log("adding new reference")
        let newForm = referenceForm[0].cloneNode(true)
        let formRegex = RegExp(`references-(\\d){1}-`,'g')

        formNum++
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `references-${formNum}-`)
        container.insertBefore(newForm, addButton)
        
        totalForms.setAttribute('value', `${formNum+1}`)
    }
</script>

