{# Assumes a context object named 'object' which is a LockableModel instance #}

{% load humanize object_lock %}

    <div class='d-flex justify-content-between align-items-center mb-2'>
        <div class='mr-3'>

            {% include 'research/partials/render_locked_icons.html' %}

        </div>
        <div>
            <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form"
                method='POST'>
                {% csrf_token %}
                {% if object.locked_by == request.user %}
                    <button type='submit' class='btn btn-primary btn-sm' name='unlock'>Finish&nbsp;Editing</button>
                {% else %}
                    {% if object.is_locked %}
                        <button type='submit' class='btn btn-warning btn-sm' name='request'>Request Item</button>
                        {% if request.user.can_break_locks %}
                            <button title='You can break this lock'  type='submit' class='btn btn-danger btn-sm' name='break'><i class='fa fa-unlock'></i> Unlock</button>
                        {% endif %}
                    {% elif not object.is_locked %}

                    <div class="dropdown show">
                        <a class="btn btn-primary btn-sm dropdown-toggle" name='lock' href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Edit
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <button type='submit' name='days' value='1' class='dropdown-item'>for 1 day</button>
                            <button type='submit' name='days' value='2' class='dropdown-item'>for 2 days</button>
                            <button type='submit' name='days' value='5' class='dropdown-item'>for 5 days</button>
                            <button type='submit' name='days' value='7' class='dropdown-item'>for a week</button>
                            <button type='submit' name='lock' class='dropdown-item'>until I unlock</button>
                        </div>
                    </div>
                    {% endif %}

                {% endif %}
            </form>
        </div>
    </div>
    {% with user_lock_request=request.user|lock_request:object %}
    {% if user_lock_request %}<small class='text-muted'>You requested this item on {{ user_lock_request.created }}</small>{% endif %}
    {% endwith %}
