{# Assumes a context object named 'object' which is a LockableModel instance #}

{% load humanize object_lock i18n %}

    <div class='d-flex align-items-center mb-2'>
        <div class='mr-3'>

            {% include 'research/partials/render_locked_icons.html' %}

        </div>
        <div>
            <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form"
                method='POST'>
                {% csrf_token %}
                <div class="dropdown show">
                    <a class="btn btn-primary btn-sm dropdown-toggle" name='lock' href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Actions
                    </a>

                    <div class="dropdown-menu text-center p-2" aria-labelledby="dropdownMenuLink">
                        <form novalidate class='form-group'  action='{% if is_testimonium %}{% url "testimonium:delete" testimonium.pk %} {% elif is_work %}{% url "work:delete" work.pk %} {% elif is_antiquarian %}{% url "antiquarian:delete" antiquarian.pk %}{% elif is_anonymousfragment %}{% url "anonymous_fragment:delete" object.pk %}% elif is_fragment %}{% url "fragment:delete" object.pk %}
                        {% endif %}'
                            method='POST'>
                            {% csrf_token %}
                            <button type='submit' class='btn btn-link text-danger {% if object.mentioned_in.all %}confirm-delete-mentions {% else %} confirm-delete {% endif %}'
                                data-what='{{is_testimonium}}{{is_work}}{{is_antiquarian}}{{is_anonymousfragment}}{{is_fragment}}'>{% trans 'Delete' %}</button>
                        </form>

                        {% if is_anonymousfragment %}
                        <form novalidate class='form-group mb-0' action='{% url "anonymous_fragment:convert_to_fragment" object.pk %}' method='POST'>
                            {% csrf_token %}
                            <button
                            type='submit'
                            class='
                            {% if object.get_all_links %}has-links{% endif %}
                            btn btn-link text-danger confirm-convert p-1 text-nowrap
                            '
                            data-what='anonymous fragment'
                            >{% trans 'Make non-anonymous' %}</button>
                        </form>
                        <form novalidate class='form-group mb-0' action='{% url "anonymous_fragment:duplicate" object.pk %}' method='POST'>
                            {% csrf_token %}
                            <button type='submit' class='btn btn-link text-info'
                                data-what='anonymous fragment'>{% trans 'Duplicate' %}</button>
                        </form>

                        {% elif is_fragment %}
                            {% if object.is_unlinked %}
                            <form novalidate class='form-group mb-0' action='{% url "fragment:convert_to_anonymous" fragment.pk %}' method='POST'>
                                {% csrf_token %}
                                <button type='submit' class='btn btn-link text-danger text-nowrap confirm-convert'
                                    data-what='fragment'>{% trans 'Make anonymous' %}</button>
                            </form>
                            {% endif %}
                        <form novalidate class='form-group mb-0' action='{% url "fragment:duplicate" object.pk %}' method='POST'>
                            {% csrf_token %}
                            <button type='submit' class='btn btn-link text-info'
                                data-what='fragment'>{% trans 'Duplicate' %}</button>
                        </form>

                        {% endif %}

                        <hr class="m-1">

                        {% if object.locked_by == request.user %}
                        <button type='submit' class='btn btn-link text-primary' name='unlock'>Finish Editing</button>

                        {% else %}
                            {% if object.is_locked %}
                            <button type='submit' class='btn btn-link text-warning' name='request'>Request Item</button>
                                {% if request.user.can_break_locks %}
                                    <button title='You can break this lock'  type='submit' class='btn btn-link text-danger' name='break'><i class='fa fa-unlock'></i> Unlock</button>
                                {% endif %}

                            {% elif not object.is_locked %}
                            <div class="lock-options">
                                <button type='button' name='lock'  class='dropdown-toggle btn btn-link text-primary w-100 p-1 m-1'>Edit</button>
                                <div class="lock-duration form-group">
                                    <button type='submit' name='days' value='1' class='dropdown-item'>for 1 day</button>
                                    <button type='submit' name='days' value='2' class='dropdown-item'>for 2 days</button>
                                    <button type='submit' name='days' value='7' class='dropdown-item'>for a week</button>
                                    <button type='submit' name='lock' class='dropdown-item text-danger'>until I unlock</button>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

            </form>
        </div>
    </div>
    {% with user_lock_request=request.user|lock_request:object %}
    {% if user_lock_request %}<small class='text-muted'>You requested this item on {{ user_lock_request.created }}</small>{% endif %}
    {% endwith %}
