{% load i18n bootstrap4 static %}

<div class="inline-worklink__form" hx-target="this" hx-swap="outerHTML">
    <form novalidate enctype="form-data" autocomplete='off' action='{{ request.path }}' hx-post='{% url inline_update_url link.pk %}'>
    {% csrf_token %}
    <div class="inline-worklink__form-field">
        <input type='hidden' name='antiquarian' value='{{ form.instance.antiquarian.pk }}' />
       <p> {{form.instance.antiquarian}}</p>
        {% bootstrap_field form.definite_antiquarian field_class="toggle-definite" %}
    </div>
    <div class="inline-worklink__form-field">
        <input type='hidden' name='work' value='{{ form.instance.work.pk }}' />
        <p>{{form.instance.work.name}}</p>
        {% bootstrap_field form.definite_work field_class="toggle-definite" %}
    </div>
    <div class="book-details">
        {% bootstrap_field form.book %}
        {% bootstrap_field form.definite_book  field_class="toggle-definite" %}
    </div>
    <button class="btn btn-sm btn-outline-success"  type="submit" value="Update">{% trans 'Update' %}
    </button>
    <button class='btn btn-sm btn-outline-secondary ml-1 inline-cancel-button' hx-target="this" hx-swap="outerHTML" name="cancel" value="cancel">{% trans 'Cancel' %}</button>
    </form>

</div>
<script src="{% static 'js/disableDefiniteToggles.js' %}"></script>
