{# Assumes a context object named 'form' for a model derived from DatedBaseModel #}

{% load i18n bootstrap4 %}


<div class="form-group">
    <div>
        <label for="id_re_code">{% trans 'Relevant Dates' %}</label>
    </div>
    <div class="row align-items-top">
        {% if form.dates_type %}
        <div class="col-md-3">
            {% bootstrap_field form.dates_type show_label=False field_class='w-100'  %}
        </div>
        {% endif %}
        <div class="col-md-2">
            {% bootstrap_field form.year_type show_label=False  field_class='w-100' %}
        </div>
        <div class="col-md-1">
            {% bootstrap_field form.circa1 layout='horizontal' show_label=False field_class='mt-2' %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field form.year1 layout='horizontal' show_label=False field_class='ml-3' %}
        </div>
        <div class="col-md-1">
            {% bootstrap_field form.circa2 layout='horizontal' show_label=False field_class='ml-3 mt-2' form_group_class='form-group range-only' %}
        </div>
        <div class="col-md-2">
            {% bootstrap_field form.year2 layout='horizontal' show_label=False field_class='ml-3' form_group_class='form-group range-only' %}
        </div>
    </div>
    <small class="form-text text-muted">
        {% trans 'Enter a negative value for BC, positive for AD. Select "Circa" where dates are approximate.' %}</small>
</div>
