
{# assumes form field as a context variable named 'field' and whether to enable mentions 'enable_mentions' and optional min_height and padding_bottom in pixels #}

<div class='row mb-3 mt-n3 editor-area'>
    <div class='col h-fill' style='min-height: {% if min_height %}{{ min_height }}{% else %}400{% endif %}px; padding-bottom: {% if padding_bottom != None %}{{ padding_bottom }}{% else %}60{% endif %}px;'>
        <div id='{{ field.auto_id }}_editor' {% if object_class %}data-class='{{ object_class }}'{% endif %} {% if object_id %}data-object='{{ object_id }}'{% endif %} class='rich-editor {% if enable_mentions %}enable-mentions{% endif %} {% if enable_apparatus_criticus %}enable-apparatus-criticus{% endif %}' spellcheck="false"  id='{{ field.auto_id }}_rich_editor_content' data-for='{{ field.auto_id }}' data-model-field='{{ field.name }}'>
        </div>
        <div class='text-muted'>
          {% if enable_mentions %}
          <small
            data-toggle="tooltip"
            data-html="true"
            title="
              Content type codes: </br>
              @aq - Antiquarian</br>
              @wk - Work</br>
              @bi - Bibliography Item</br>
              @tp - Topic</br>
              @fr - Fragment</br>
              @tt - Testimonium</br>
              @af - Anonymous Fragment</br>
              @uf - Unlinked Fragment"
            >@mentions are enabled <i class="bi bi-info-circle"></i></small>
          {% endif %}
          {% if enable_apparatus_criticus %}
              <small>Type # for apparatus criticus items.</small>
              {% if object_class %}
              {# we are editing a parent object's commentary #}
              <small>Enter a, b, c for the index of the original text where if than one exists for this object</small>
              {% endif %}
          {% endif %}
        </div>
    </div>
</div>
