{# Assumes context objects named 'link' and 'link_text'. Optional disable_link_controls to display but disable the link controls #}

{% load i18n %}

{% with testimonium=link.linked %}

<div class='drop-target' data-pos='{{ forloop.counter0 }}' data-objecttype='testimonium'>
</div>

<div id='testimoniumlink_{{ link.pk }}' data-link='{{ link.pk }}' data-antiquarian='{{ link.antiquarian.pk }}' draggable='false' data-objecttype='testimonium' data-pos='{{ forloop.counter0 }}'  class='drag-item ordered-list-item rard-list-item d-flex justify-content-between'>
    <div>
        <li>
                {% if perms.research.view_testimonium %}
                <a href='{% url "testimonium:detail" testimonium.pk %}'>{{ link_text }}</a> 
                {% else %}
                    {{ link_text }}
                {% endif %}
                {% if link.definite %}
                <i title='Definite link' data-placement="top" data-toggle='tooltip' class='fa fa-check-circle fa-xs text-muted'></i>
                {% else %}
                <i title='Possible link' data-placement="top" data-toggle='tooltip' class='fa fa-question-circle fa-xs text-muted'></i>
                {% endif %}
                <button class="btn btn-link toggle-element-button" type="button" data-toggles="testimoniumlink_{{ link.pk }}"></button>

            <br>
            <small id='testimoniumlink_{{ link.pk }}' class='toggle-element'>
                <span class='ml-4 text-muted'>
                    {{ testimonium.get_citing_display }}
                </span>
            </small>
        </li>
    </div>
    <div class='rard-list-item-actions'>
        {% if can_edit and has_object_lock %}

        <button type='button' class='drag-handle btn btn-light' style='cursor: move;' data-pos='{{ forloop.counter0 }}'><i class='fas fa-bars'></i></button>

        <button data-link='{{ link.pk }}' data-antiquarian='{{ link.antiquarian.pk }}' data-objecttype='testimonium' data-pos='{{ forloop.counter0 }}' type='button' class='btn btn-light'  {% if forloop.first or disable_link_controls %}disabled{% endif %}
            name='up_by_work'><i class='fas fa-caret-up'></i></button>
        <button data-link='{{ link.pk }}' data-antiquarian='{{ link.antiquarian.pk }}' data-objecttype='testimonium' data-pos='{{ forloop.counter0 }}' type='button' class='btn btn-light'  {% if forloop.last or disable_link_controls %}disabled{% endif %}
            name='down_by_work'><i class='fas fa-caret-down'></i></button>

        {% endif %}
    </div>
</div>
{% if forloop.last %}
{# add drop target at end #}
<div class='drop-target' data-pos='{{ forloop.counter }}' data-objecttype='testimonium'>
</div>
{% endif %}

{% endwith %}