{# Assumes a context object named 'topic' #}

{% load i18n %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li>
            {% with topic.name as link_text %}
                {% if perms.research.view_topic %}
                <a href='{% url "topic:detail" topic.slug %}'>{{ link_text }}</a> 
                {% else %}
                    {{ link_text }} 
                {% endif %}
            {% endwith %}
        </li>
    </div>
    <div class='rard-list-item-actions'>
    </div>
</div>
