{# Assumes context objects named 'translation', 'can_edit' and 'has_object_lock' #}

{% load i18n humanize %}

<div class="card mb-3 bg-light  {% if translation.approved and has_object_lock %}border-success{% endif %}">
    <div class="card-body">
        <div class='card-text'>
            <div class='d-flex justify-content-between'>
                <div class='alphabetum'>
                    {{ translation.translated_text|safe }}
                </div>
                {% if translation.approved and has_object_lock %}
                <div class='text-success mt-n3'>
                    <small>{% trans 'Approved' %}</small>
                </div>
                {% endif %}
            </div>
        </div>
        <div class='d-flex justify-content-between'>
            <div class='text-muted'>
                <small>
                    {% trans 'Translated by' %} {{ translation.translator_name }} • {% include 'research/partials/render_last_modified_info.html' with object=translation %}
                </small>
            </div>
            <div>
                {% if can_edit and has_object_lock %}
                <form novalidate class='form-inline' action='{% url "fragment:delete_translation" translation.pk %}' method='POST'>
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                        <a href='{% url "fragment:update_translation" translation.pk %}' {% if object.duplicate_frags.all %}class="alert-duplicates" {% endif %}>Edit</a>
                        <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                            data-what='translation'>{% trans 'Delete' %}</button>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

    </div>
</div>
