{# Assumes context objects named 'work', optional 'book' and testimonium or fragment object named 'testimonium' or 'fragment' also 'can_edit' and 'has_object_lock' #}

{% load i18n %}

<div class='rard-list-item d-flex justify-content-between'>
    <div>
        <li class="unstyled">
            <a href='{% url "work:detail" work.pk %}'>{{ work }}</a>

            {% if book %}
                book {{ book }}

                {% if book.display_date_range %}
                    <span class='text-muted date-range-element'><small>[{{ book.display_date_range }}]</small></span>
                {% endif %}

            {% else %}
                {% if work.display_date_range %}
                    <span class='text-muted date-range-element'><small>[{{ work.display_date_range }}]</small></span>
                {% endif %}

            {% endif %}

            {% include 'research/partials/render_inline_lock_icon.html' with object=work %}
        </li>
    </div>
    <div class='rard-list-item-actions'>
    </div>
</div>
