{% load i18n get_object_class %}

<p>
  {% blocktrans %}Dear{% endblocktrans %} {{ user.display_name }},
</p>

<p>
{% blocktrans with locked_at=lock.locked_at %}
  You are receiving this email because you have had the following item locked editing an item on the {{ domain }} site 
  since {{ locked_at }}:
{% endblocktrans %}
</p>

<p>
    {{ lock.content_object|get_object_class }}: "{{ lock.content_object }}"
</p>
<p>
{% blocktrans %}
If you are no longer editing this item please release this lock at the following URL: 
{% endblocktrans %}
</p>

<p>
  <a rel="noreferrer" href="https://{{ domain }}{{ lock.content_object.get_absolute_url }}">
    https://{{ domain }}{{ lock.content_object.get_absolute_url }}
  </a>
</p>

<p>
{% blocktrans %}Best regards{% endblocktrans %},
<br>
{{ site_name }} {% blocktrans %}Team{% endblocktrans %}
</p>
