{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% blocktrans with name=form.instance.linked_field %}
        Add appositum link to fragment
    {% endblocktrans %}
    {{ form.media.css }}
{% endblock %}

{% block inner %}

    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        <input type="text" id="search-fragments" name="search-fragments" placeholder="Start typing to search for fragments..." hx-get="{% url 'fragment:fetch_fragments' %}" hx-trigger="keyup delay:500ms changed" hx-swap="innerHTML" hx-target="#search-results" class="form-control">

        {% bootstrap_field form.linked_to %}


        <button type="submit" class="btn btn-primary">
            {% trans 'Create' %}
        </button>
        <button name='another' type="submit" class="btn btn-outline-primary">
            {% trans 'Create and add another' %}
        </button>
    </form>
{% endblock %}
