{% extends "research/base.html" %}
{% load i18n bootstrap4 static %}

{% block title %}
{{form.instance.linked_field}}: add new link
{% endblock %}

{% block heading %}
    {% blocktrans with name=form.instance.linked_field %}
        Link {{ name }} to antiquarian, work or book
    {% endblocktrans %}
{% endblock %}


{% block inner %}

    {# antiquarian form #}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form work-form" method='GET'>
        {% bootstrap_field form.antiquarian field_class='submit-on-change' %}
        <span class="toggle-definite" onclick="setValues(event, 'definite_antiquarian')" >
        {% bootstrap_field form.definite_antiquarian %}</span>

    </form>

    {# work form #}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form work-form" method='GET'>
        {% bootstrap_field form.work field_class='submit-on-change' %}
        <span class="toggle-definite" onclick="setValues(event, 'definite_work')">
        {% bootstrap_field form.definite_work %}</span>
        <input type='hidden' name='antiquarian' value='{{ antiquarian.pk }}' />
        <input type='hidden' name='definite_antiquarian' {% if definite_antiquarian %} value={{ definite_antiquarian }} {% endif %} />

    </form>
{# book form #}
    {# where a work has been specified add it as a hidden control and show the relevant books (if any) #}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        <div class="book-details">
        {% bootstrap_field form.book %}
        {% bootstrap_field form.definite_book %}
        </div>
        <input type='hidden' name='antiquarian' value='{{ antiquarian.pk }}' />
        <input type='hidden' name='definite_antiquarian' {% if definite_antiquarian %} value={{ definite_antiquarian }} {% endif %} />
        <input type='hidden' name='work' value='{{ work.pk }}' />
        <input type='hidden' name='definite_work' {% if definite_work %} value={{ definite_work }} {% endif %}/>


        <button type="submit" class="btn btn-primary" {%if not antiquarian.pk %} disabled {%endif%}>
            {% trans 'Create' %}
        </button>
        <button name='another' type="submit" class="btn btn-outline-primary"{%if not antiquarian.pk %} disabled {%endif%}>
            {% trans 'Create and add another' %}
        </button>

    </form>

    {% comment %} <script type="text/javascript">
        // This script will update the submission with the values from the checkboxes
        window.onload = () => {
            var definiteFieldElems = document.querySelectorAll(".toggle-definite");
            definiteFieldElems.forEach((elem) => {
              elem.onclick = (e) => {
                var checkboxValue = e.target.closest("input[type='checkbox']").checked;
                var fieldName = e.target.name;
                document.querySelectorAll(`input[name=${fieldName}]`).forEach((input) => {
                  input.checked = checkboxValue;
                  input.value = checkboxValue;
                });
              };
            });
          };
    </script>  {% endcomment %}

    <script src="{% static 'js/disableDefiniteToggles.js' %}"></script>
    <script src="{% static 'js/setDefiniteValues.js' %}"></script>
    {% endblock %}
