{% extends "research/detail_base.html" %}
{% load i18n bootstrap4 static humanize object_lock show_citing_info %}
{% block title %}Anonymous Fragment {{object.pk}} {% endblock %}
{% block heading %}
    {{ object.get_display_name }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/check_forms_dirty.js' %}"></script>
{% endblock %}


{% block action %}
    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' with is_anonymousfragment=True %}

        {% if has_object_lock %}
        <div class='d-flex flex-column justify-content-end'>
            {% if perms.research.delete_anonymousfragment %}
            <form novalidate style='margin-left:auto' class='form-inline' action='{% url "anonymous_fragment:delete" object.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button type='submit' class='btn btn-link text-danger {% if object.mentioned_in.all %}confirm-delete-mentions {% else %} confirm-delete {% endif %} p-0 ml-2'
                        data-what='anonymous fragment'>{% trans 'Delete' %}</button>
                </div>
            </form>
            {% endif %}
            {% if perms.research.change_anonymousfragment %}
            <form novalidate style='margin-left:auto' class='form-inline' action='{% url "anonymous_fragment:convert_to_fragment" object.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button
                      type='submit'
                      class='
                      {% if object.get_all_links %}has-links{% endif %}
                      btn btn-link text-danger confirm-convert p-0 ml-2
                      '
                      data-what='anonymous fragment'
                    >{% trans 'Make non-anonymous' %}</button>
                </div>
            </form>
            <form novalidate style='margin-left:auto' class='form-inline' action='{% url "anonymous_fragment:duplicate" object.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button type='submit' class='btn btn-link text-info p-0 ml-2'
                        data-what='anonymous fragment'>{% trans 'Duplicate' %}</button>
                </div>
            </form>
            {% endif %}
        </div>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block inner %}
    {% with request.user|has_lock:object as has_object_lock %}

    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% comment %}
                {% if perms.research.change_fragment and has_object_lock %}
                <a href='{% url "anonymous_fragment:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
                {% endcomment %}
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Name' %}</dt>
            <dd class="col-sm-9">{{ object.get_display_name }}</dd>

            {% if object.topics is not None %}
            <dt class="col-sm-3">{% trans 'Topics' %}</dt>
            <dd class="col-sm-7">
                {% if object.topics.count == 0%}-{% endif %}
                {% for topic in object.topics.all %}{% if forloop.counter0 > 0 %}, {% endif %}
                    {% if perms.research.view_topic %}
                    <a href='{% url "topic:detail" topic.slug %}'>{{ topic.name }}</a>
                    {% else %}
                    {{ topic.name }}
                    {% endif %}
                {% endfor %}
            </dd>
            <dd class='col-sm-2 actions'>
                {% if perms.research.change_fragment and has_object_lock %}
                <a style='float:right;' href='{% url "anonymous_fragment:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </dd>
            {% endif %}

            <dt class="col-sm-3">{% trans 'Chronological reference' %}</dt>
            <dd class="col-sm-7">
                {{ object.display_date_range|default:'-' }}
            </dd>
            <dd class='col-sm-2 actions'>
                {% if perms.research.change_fragment and has_object_lock %}
                <a style='float:right;' href='{% url "anonymous_fragment:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </dd>

            <dt class="col-sm-3">{% trans 'Original Texts' %}</dt>
            <dd class="col-sm-7">{{ object.original_texts.count }} </dd>
            {% if perms.research.change_fragment and perms.research.add_originaltext and has_object_lock %}
            <dd class="col-sm-2 actions">
                <a style='float:right;' href='{% url "anonymous_fragment:create_original_text" object.pk %}'>Add</a></dd>
            </dd>
            {% endif %}
        </dl>

    </section>

    {% for original_text in object.original_texts.all %}
    <hr>

    <section>

        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Original Text' %} {{ forloop.counter }}</h5>
            </div>
            <div>
                {% if perms.research.change_fragment and has_object_lock %}
                <form novalidate class='form-inline' action='{% url "anonymous_fragment:delete_original_text" original_text.pk %}' method='POST'>
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                        {% if perms.research.change_originaltext %}
                        Edit&nbsp;
                        <a href='{% url "anonymous_fragment:update_author_original_text" original_text.pk %}'>Citing Work</a>
                        &nbsp;/&nbsp;
                        <a href='{% url "anonymous_fragment:update_original_text" original_text.pk %}'>Details</a>
                        {% endif %}
                        {% if perms.research.delete_originaltext %}
                        <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2' data-what='original text'>{% trans 'Delete' %}</button>
                        {% endif %}
                    </div>
                </form>
                {% endif %}
            </div>
        </div>

        <div>
            {% include 'research/partials/original_text_preview.html' with original_text=original_text %}
        </div>

        {% include 'research/partials/section/original_text_details.html' with show_concordances=True original_text=original_text can_edit=perms.research.change_fragment has_object_lock=has_object_lock %}

        <div class='mt-3'>
        {% for translation in original_text.translation_set.all %}
            {% include 'research/partials/translation_preview.html' with translation=translation can_edit=perms.research.change_fragment has_object_lock=has_object_lock %}
        {% endfor %}
        </div>

    </section>

    {% endfor %}

    <hr>

    <section>
        {% comment %} will need to hide this in final version {% endcomment %}
      <div class='d-flex justify-content-between mb-3'>
        <div>
            <h5>{% trans 'Commentary' %}</h5>
        </div>
        <div>
            {% if perms.research.change_fragment and has_object_lock %}
            <button
              class="btn text-primary p-0 ml-2"
              hx-get="{% url 'anonymous_fragment:update_commentary' object.pk %}"
              hx-target=".commentary-container"
              hx-swap="innerHTML">{% trans 'Edit' %}</button>
            {% endif %}
        </div>
    </div>
    <div class="commentary-container rich-text-form-container">
      {% include 'research/partials/text_object_preview.html' with text_object=object.commentary %}
    </div>
    </section>


    {% if perms.research.change_fragment and has_object_lock %}
    <br>
    <section class="public-commentary-section">
        <div class='d-flex justify-content-between mb-3'>
          <div>
              <h5>{% trans 'See Also' %}</h5>
          </div>
          <div>
              {% if perms.research.change_fragment and has_object_lock %}
              <button
                class="btn text-primary p-0 ml-2"
                hx-get="{% url 'anonymous_fragment:update_public_commentary' object.pk %}"
                hx-target=".public-commentary-container"
                hx-swap="innerHTML">{% trans 'Edit' %}</button>
                {% endif %}
            </div>
        </div>
        <div class="public-commentary-container rich-text-form-container">
            {% include 'research/partials/text_object_preview.html' with text_object=object.public_commentary_mentions %}
        </div>
    </section>
    {% endif %}
    {% if not has_object_lock and object.public_commentary_mentions.approved %}
    <section>
        <div class="public-commentary-container rich-text-form-container">
            {% include 'research/partials/text_object_preview.html' with text_object=object.public_commentary_mentions %}
        </div>
    </section>
    {% endif %}


    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Appositum Links' %}</h5>
            </div>
            <div>
                {% if perms.research.change_anonymousfragment and has_object_lock %}
                Link <a href='{% url "anonymous_fragment:link" object.pk %}'>{% trans 'Antiquarian/Work' %}</a> or
                <a href='{% url "anonymous_fragment:link_fragment" object.pk %}'>{% trans 'Fragment' %}</a>

                {% endif %}
            </div>
        </div>

        <div class='row'>
            <div class="col">
                {% if object.fragments %}

                    {% for link in object.appositumfragmentlinks_from.all %}
                      {% include 'research/partials/appositum_links_list_item.html' with link=link can_edit=perms.research.change_anonymous_fragment has_object_lock=has_object_lock %}
                    {% endfor %}

                    {% for fragment in object.fragments.all %}
                      {% if fragment.is_unlinked %}
                        {% include 'research/partials/fragment_list_item.html' with fragment=fragment %}
                      {% endif %}
                    {% endfor %}

                {% endif %}
            </div>
        </div>

    </section>

   {% if object.mentioned_in.all %}
    <hr>

    {% include 'research/partials/section/mentions_section.html' with object=object obj_name="anonymous fragment" %}

    {% endif %}

    {% endwith %}
{% endblock %}
