{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Anonymous Fragments' %}
{% endblock %}

{% block action %}
    {% if perms.research.add_fragment %}
    <a href='{% url "anonymous_fragment:create" %}'>{% trans 'Create New' %}</a>
    {% endif %}
{% endblock %}

{% block inner %}
    {% for object in page_obj %}

    {% ifchanged object.topic %}<h5 class='mt-3'>{{ object.topic|default:'Uncategorised' }}</h5> {% endifchanged %}

    {% include 'research/partials/anonymousfragment_list_item.html' with fragment=object %}

    {% endfor %}

    {{ block.super }}

{% endblock %}