{# For editing details of existing fragments #}


{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% trans 'Update Anonymous Fragment' %}
{% endblock %}

{% block inner %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
        {% trans 'Save' %}
        </button>
    </form>
{% endblock %}
