{% extends "research/base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Anonymous Fragments' %}
     <div class="ml-3 mt-2">
            {% include 'research/partials/anonymousfragment_topic_form.html' %}
        </div>
{% endblock %}

{% block action %}
    {% if perms.research.add_fragment %}
    <a href='{% url "anonymous_fragment:create" %}'>{% trans 'Create New' %}</a>
    {% endif %}
    <br>
        <div>
            {% include 'research/partials/anonymousfragment_order_form.html' %}
        </div>
{% endblock %}

{% block inner %}

    <h5 class='mt-3 alphabetum'>{{ selected_topic.name }}</h5>

    {% include 'research/partials/ordered_anonymoustopiclink_area.html' %}

{% endblock %}
