{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Edit Antiquarian Details' %}
    {% else %}
        {% trans 'Create Antiquarian' %}
    {% endif %}
{% endblock %}

{% block inner %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.re_code %}
        {% include 'research/partials/render_date_form_fields.html' %}

        {% comment %}
        <div class="form-group">
            <div>
                <label for="id_re_code">Relevant Dates</label>
            </div>
            <div class="row align-items-top">
                {% if form.dates_type %}
                <div class="col-md-3">
                    {% bootstrap_field form.dates_type show_label=False  field_class='w-100'  %}
                </div>
                {% endif %}
                <div class="col-md-2">
                    {% bootstrap_field form.year_type show_label=False  field_class='w-100' %}
                </div>
                <div class="col-md-1">
                    {% bootstrap_field form.circa1 layout='horizontal' show_label=False field_class='mt-2' %}
                </div>
                <div class="col-md-2">
                    {% bootstrap_field form.year1 layout='horizontal' show_label=False field_class='ml-3' %}
                </div>
                <div class="col-md-1">
                    {% bootstrap_field form.circa2 layout='horizontal' show_label=False field_class='ml-3 mt-2' form_group_class='form-group range-only' %}
                </div>
                <div class="col-md-2">
                    {% bootstrap_field form.year2 layout='horizontal' show_label=False field_class='ml-3' form_group_class='form-group range-only' %}
                </div>
            </div>
            <small class="form-text text-muted">Enter a negative value for BC, positive for AD. Select "Circa" where dates are approximate.</small>
        </div>
        {% endcomment %}

        {% bootstrap_field form.biography_text %}
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>
{% endblock %}