{% extends "research/detail_base.html" %}
{% load i18n object_lock links_for_work %}

{% block heading %}{{ object.name }}{% endblock %}


{% block action %}

    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' %}

        <div class='d-flex justify-content-end'>
            {% if has_object_lock %}
                {% if perms.research.delete_antiquarian %}
                    <form novalidate class='form-inline' action='{% url "antiquarian:delete" antiquarian.pk %}' method='POST'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                                data-what='antiquarian'>{% trans 'Delete' %}</button>
                        </div>
                    </form>
                {% endif %}
            {% endif %}
        </div>
    {% endwith %}

{% endblock %}

{% block inner %}

    {% with request.user|has_lock:object as has_object_lock %}

    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% if perms.research.change_antiquarian and has_object_lock %}
                <a href='{% url "antiquarian:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Name' %}</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>
        
            <dt class="col-sm-3">{% trans 'Name for Alphabetisation' %}</dt>
            <dd class="col-sm-9">{{ object.order_name }}</dd>

            <dt class="col-sm-3">{% trans 'RE Number' %}</dt>
            <dd class="col-sm-9">{{ object.re_code|default:'-' }}</dd>
            
            <dt class="col-sm-3">{% trans 'Relevant Dates' %}</dt>
            <dd class="col-sm-9">
                {{ object.display_date_range|default:'-' }}
            </dd>

            <dt class="col-sm-3">{% trans 'Introduction' %}</dt>
            <dd class="col-sm-9">
                {{ object.introduction.content|safe|default:'-' }}

                {% comment %}

                {% if perms.research.view_comment %}
                <br>
                {{ object.introduction.comments.count }} comments <a href='{% url "list_comments_on_text" object.introduction.pk %}'>view</a>
                {% endif %}

                {% endcomment %}
            </dd>
            <p>
                
            </p>

        </dl>
    </section>

    <hr>
{% comment %}
    <section>

        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Works' %}</h5>
            </div>
            <div>
                {% if perms.research.change_antiquarian and has_object_lock %}
                    {% if perms.research.add_work %}
                    <a href='{% url "antiquarian:create_work" object.pk %}'>{% trans 'Add' %}</a> |
                    {% endif %}
                <a href='{% url "antiquarian:update_works" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>

        {% for work in object.ordered_works.all %}
        
        {% include 'research/partials/work_list_item.html' with work=work %}
        
        {% endfor %}
    </section>


    <hr>
{% endcomment %}

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Ordered Material' %}</h5>
            </div>
            <div>
            </div>
        </div>

        <div class='ordered-list'>
        {% for work in object.ordered_works.all %}
        <form novalidate class='ordered-list-item form-inline' action='' method='POST'>
            <div class='d-flex justify-content-between w-100'>
                <div>
                    <b class='my-3 mr-3'><a href='{% url "work:detail" work.pk %}'>{{ work.name }}</a></b>

                    {% if perms.research.change_antiquarian and has_object_lock %}

                    {% csrf_token %}
                    <div class='form-group'>
                        <input type='hidden' name='work_id' value='{{ work.pk }}'>
                        <input type='hidden' name='antiquarian_id' value='{{ object.pk }}'>
                        <button type='submit' class='btn btn-light btn-sm' {% if forloop.first %}disabled{% endif %}
                            name='work_up'>▲</button>
                        <button type='submit' class='btn btn-light btn-sm' {% if forloop.last %}disabled{% endif %}
                            name='work_down'>▼</button>
                    </div>

                    {% endif %}

                </div>
                <div>
                    <a href='{% url "anonymous_fragment:create_appositum_for" "work" work.pk %}'>{% trans 'Create Appositum' %}</a>
                </div>
            </div>

        </form>

        <ul>
            <div class='ordered-list'>
            {% with tlinks=object|testimonium_links_for_work:work %}
            {% with flinks=object|fragment_links_for_work:work %}
            {% with alinks=object|appositum_links_for_work:work %}

                {% for link in tlinks %}
                    {% include 'research/partials/testimonium_link_list_item.html' with link=link link_text=link.get_work_display_name_full|safe can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}
                {% endfor %}

                {% for link in flinks %}
                    {% include 'research/partials/fragment_link_list_item.html' with link=link  link_text=link.get_work_display_name_full|safe can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}
                {% endfor %}

                {% for link in alinks %}
                    {% include 'research/partials/appositum_fragment_link_list_item.html' with link=link link_text=link.get_work_display_name_full|safe can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}
                {% endfor %}
            
                {% if not flinks and not tlinks and not alinks %}
                <div class='text-muted my-3 ml-4'><em>No linked material for this work</em></div>
                {% endif %}
        
            {% endwith %}
            {% endwith %}
            {% endwith %}
            </div>
        </ul>
        
        
        {% endfor %}

        <div class='d-flex justify-content-between w-100'>
            <div>
                <b class='my-3 mr-3'>Unknown Work</b>
            </div>
            <div>
                <a href='{% url "anonymous_fragment:create_appositum_for" "antiquarian" object.pk %}'>
                    {% trans 'Create Appositum' %}</a>
            </div>
        </div>

        <ul>

        {% with tlinks=object|testimonium_links_for_work:None %}
        {% with flinks=object|fragment_links_for_work:None %}
        {% with alinks=object|appositum_links_for_work:None %}


            {% for link in tlinks %}
                {% include 'research/partials/testimonium_link_list_item.html' with link=link link_text=link.get_display_name|safe can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}
            {% endfor %}
            {% for link in flinks %}
                {% include 'research/partials/fragment_link_list_item.html' with link=link link_text=link.get_display_name|safe can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}
            {% endfor %}
            {% for link in alinks %}
                {% include 'research/partials/appositum_fragment_link_list_item.html' with link=link link_text=link.get_display_name|safe can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}
            {% endfor %}

            {% if not flinks and not tlinks and not alinks %}
            <div class='text-muted my-3 ml-4'><em>No linked material</em></div>
            {% endif %}


        {% endwith %}
        {% endwith %}
        {% endwith %}

        </ul>
        </div>


    </section>

    <hr>

{% comment %}
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Ordered Testimonia' %}</h5>
            </div>
            <div>
                {% if perms.research.change_antiquarian and has_object_lock %}
                <a href='{% url "testimonium:create" %}'>{% trans 'Add' %}</a>
                {% endif %}
            </div>
        </div>

        {% for link in object.testimoniumlinks.all %}

        {% include 'research/partials/testimonium_link_list_item.html' with link=link testimonium=link.linked can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}

        {% endfor %}

    </section>


    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Ordered Fragments' %}</h5>
            </div>
            <div>
                {% if perms.research.change_antiquarian and has_object_lock %}
                <a href='{% url "fragment:create" %}'>{% trans 'Add' %}</a>
                {% endif %}
            </div>
        </div>

        {% for link in object.fragmentlinks.all %}

        {% include 'research/partials/fragment_link_list_item.html' with link=link fragment=link.linked can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}

        {% endfor %}
    </section>



    <hr>

{% endcomment %}
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Bibliography' %}</h5>
            </div>
            <div>
                {% if perms.research.change_antiquarian and has_object_lock %}
                <a href='{% url "antiquarian:create_bibliography" object.pk %}'>{% trans 'Add' %}</a>
                {% endif %}
            </div>
        </div>
        {% for item in object.bibliography_items.all %}

        {% include 'research/partials/bibliography_list_item.html' with can_edit=perms.research.change_antiquarian has_object_lock=has_object_lock %}

        {% endfor %}
    </section>

    {% endwith %}

{% endblock %}

