{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Antiquarians' %}
{% endblock %}

{% block action %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form mb-5" method='GET'>
        <div class="form-row align-items-center">
            <div class="">
                <select class="submit-on-change form-control form-control-sm" name='order'>
                    <option value='' {% if not order %}selected{% endif %}>Default ordering</option>
                    <option value='earliest' {% if order == 'earliest' %}selected{% endif %}>Earliest first</option>
                    <option value='latest' {% if order == 'latest' %}selected{% endif %}>Latest first</option>
                </select>
            </div>
            {% if perms.research.add_antiquarian %}
                <a class='ml-3' href='{% url "antiquarian:create" %}'>{% trans 'Create New' %}</a>
            {% endif %}
        </div>
    </form>
{% endblock %}

{% block inner %}

    {% for object in page_obj %}

    {% include 'research/partials/antiquarian_list_item.html' with antiquarian=object %}

    {% endfor %}

    {{ block.super }}

{% endblock %}