{% extends 'base.html' %}
{% load i18n %}

{% block css %}
<meta name="token" content="{{ csrf_token }}">
{{ block.super }}
{% endblock %}

{% block content %}
{% block symbol_picker %}

<button class="open-button picker" onclick="togglePicker()"></button>

<div class="symbol-popup picker" id="myForm">
  <div class='form-container'>
          {% include 'research/partials/symbol_picker.html' %}
  </div>
</div>

{% endblock %}
<div class='row'>
  <div class='col mt-n4 mb-1 ml-3'>
    <div class="custom-control custom-switch toggle-switch float-right">
      <input type="checkbox" class="custom-control-input" id='toggle-elements'>
      <label class="custom-control-label" for="toggle-elements"><small class='text-muted'>Show Details</small></label>
    </div>

  </div>
</div>

<div class='row'>
  <div class='col-md-2 mb-5 sidenav pr-2'>
    <nav class='nav flex-column mr-5'>
      {% if perms.research.view_antiquarian %}
      <a class='nav-link {% if "antiquarian" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "antiquarian:list" %}'>
        {% trans 'Antiquarians' %}
      </a>
      {% endif %}

      {% comment %}
      {% if perms.research.view_testimonium %}
      <a class='nav-link {% if "testimonium" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "testimonium:list" %}'>
        {% trans 'Testimonia' %}
      </a>
      {% endif %}
      {% endcomment %}

      {% if perms.research.view_fragment %}
      <a class='nav-link {% if "anonymous_fragment" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "anonymous_fragment:list" %}'>
        {% trans 'Anonymous Fragments' %}
      </a>
      {% endif %}
      {% if perms.research.view_fragment %}
      <a class='nav-link {% if "unlinked_fragment" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "unlinked_fragment:list" %}'>
        {% trans 'Unlinked Fragments' %}
      </a>
      {% endif %}
      {% if perms.research.view_citingauthor %}
      <a class='nav-link {% if "citingauthor" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "citingauthor:list" %}'>
        {% trans 'Citing Authors' %}
      </a>
      {% endif %}
      {% if perms.research.view_topic %}
      <a class='nav-link {% if "topic" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "topic:list" %}'>
        {% trans 'Topics' %}
      </a>
      {% endif %}
      {% if perms.research.view_work %}
      <a class='nav-link {% if "work" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "work:list" %}'>
        {% trans 'Works' %}
      </a>
      {% endif %}
      {% if perms.research.view_concordance %}
      <a class='nav-link {% if "concordance" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "concordance:list" %}'>
        {% trans 'Concordance' %}
      </a>
      {% endif %}
      {% if perms.research.view_bibliographyitem %}
      <a class='nav-link {% if "bibliography" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "bibliography:overview" %}'>
        {% trans 'Bibliography' %}
      </a>
      {% endif %}
      <a class='nav-link {% if "search" in request.resolver_match.namespaces %}active font-weight-bold{% endif %}'
        href='{% url "search:home" %}'>
        {% trans 'Search' %}
      </a>
    </nav>
    {% if user.is_authenticated %}
    <hr>
    <a class='nav-link' href="https://github.com/UCL/frrant/wiki">{% trans 'Docs' %}</a>
    {% endif %}
  </div>
  <div class='col-md-10 main-content'>
    {% block outer %}
    <div class="d-flex">
      <div>
        <h3 class='historical mb-3 mr-3'>{% block heading %}{% endblock %}</h3>
      </div>
      <div class='ml-auto'>{% block action %}{% endblock %}</div>
    </div>
    <div class='my-3'>
      {% block inner %}{% endblock %}
    </div>
    {% endblock %}
  </div>
</div>
{% endblock %}
