{% extends "research/base.html" %}
{% load i18n %}
{% block title %}Bibliography Items {% endblock %}
{% block heading %}
    {% trans 'Bibliography' %}
{% endblock %}

{% block action %}
<div class='d-flex justify-content-between align-items-center'>
    {%comment%}<div>
        {% include 'research/partials/render_date_order_form.html' %}
    </div>{%endcomment%}
</div>
{% endblock %}

{% block inner %}
<div id="bib-form-container" class="rich-text-form-container"></div>
<div id="bib-list-container" hx-trigger="load, new-item from:body" hx-get="{% url 'bibliography:list' %}" hx-swap="innerHTML"></div>
{% endblock %}
