{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Bibliography' %}
{% endblock %}

{% block action %}

{% endblock %}

{% block inner %}
    {% for item in page_obj %}

    <div class='rard-list-item'>
        <div class='row'>

            <div class="col-sm-3">{{ item.authors }}</div>
            <div class="col-sm-2">{% if item.year %}{{ item.year }}{% endif %}</div>
            <div class="col-sm-5"><em>{{ item.title|safe }}</em></div>
            <div class="col-sm-2 actions">
            <a href='{{ item.parent.get_absolute_url }}'>Cited Here</a>
            </div>
        </div>
    </div>

    {% endfor %}

    {{ block.super }}

{% endblock %}