{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Bibliography' %}
{% endblock %}

{% block action %}

{% endblock %}

{% block inner %}
    {% for item in page_obj %}


    <div class='rard-list-item py-0 d-flex justify-content-between'>
        <div>
            <li class='d-flex justify-content-between'>
                <div class='mr-2'>{{ item.authors }}:</div>
                <div>{{ item.content|safe }}</div>
            </li>
        </div>
        <div class='rard-list-item-actions actions'>
            
            <a href='{{ item.parent.get_absolute_url }}'>View Related Item</a>
        </div>
    </div>

    {% endfor %}

    {{ block.super }}

{% endblock %}