{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Update Bibliography Item' %}
    {% else %}
        {% trans 'Create Bibliography Item' %}
    {% endif %}
{% endblock %}

{% block inner %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}

        {% for field in form %}

        {% if field.name == 'title' %}

            {% bootstrap_field field field_class='d-none' %}
            {% include 'research/partials/rich_text_editor.html' with field=field %}

        {% else %}

            {% bootstrap_field field %}

        {% endif %}

        {% endfor %}

        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>
{% endblock %}
