{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Bibliography' %}
{% endblock %}

{% block action %}

{% endblock %}

{% block inner %}
    {% for item in page_obj %}
    <a href='{{ item.get_absolute_url }}' class='rard-list-item'>
        <div class='row'>

            <div class="col-sm-3">{{ item.authors }}</div>
            <div class="col-sm-2">{% if item.year %}{{ item.year }}{% endif %}</div>
            <div class="col-sm-7">{{ item.title|safe }}</div>
    
        </div>
    </a>

    {% endfor %}

    {{ block.super }}

{% endblock %}
