{% extends "research/detail_base.html" %}
{% load i18n object_lock %}

{% block heading %}{{ object }}{% endblock %}

{% block action %}

{% comment %}
    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' %}

        <div class='d-flex justify-content-end'>
        {% if has_object_lock %}
            {% if perms.research.delete_bibliographyitem %}
            <form novalidate class='form-inline' action='{% url "bibliographyitem:delete" bibliographyitem.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                        data-what='bibliographyitem'>{% trans 'Delete' %}</button>
                </div>
            </form>
            {% endif %}
        {% endif %}
        </div>
    {% endwith %}

{% endcomment %}

{% endblock %}

{% block inner %}
    {% comment %}
    {% with request.user|has_lock:object as has_object_lock %}
    {% endcomment %}

    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% if perms.research.change_citingwork and has_object_lock %}
                <a href='{% url "bibliographyitem:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Authors' %}</dt>
            <dd class="col-sm-9">{{ object.authors }}</dd>
            <dt class="col-sm-3">{% trans 'Author surnames' %}</dt>
            <dd class="col-sm-9">{{ object.author_surnames }}</dd>
            <dt class="col-sm-3">{% trans 'Year' %}</dt>
            <dd class="col-sm-9">{{ object.year }}</dd>
            <dt class="col-sm-3">{% trans 'Title' %}</dt>
            <dd class="col-sm-9">{{ object.title|safe }}</dd>
        </dl>
        <div class='d-flex justify-content-between mb-3'>
            <a href='{{ object.parent.get_absolute_url }}'>Cited Here</a>
        </div>
    </section>

    {% comment %}
    {% endwith %}
    {% endcomment %}
{% endblock %}
