{% extends "research/base.html" %}
{% load i18n bootstrap4 static humanize %}
{% block title %}
{% if object %}
{{ object }}:
    {% trans 'Updating' %}
{% else %}
{% if work %}
{{ work }}:
{% endif %}
New Book
{% endif %}
{% endblock %}

{% block heading %}
    {% if object %}
        {% trans 'Update Book' %}
    {% else %}
        {% trans 'Create Book' %}
    {% endif %}
    {% if work %}
    <small>
        {% blocktrans with name=work.name %}
            For {{ name }}
        {% endblocktrans %}
    </small>
    {% endif %}

{% endblock %}

{% block inner %}

    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% bootstrap_field form.order_year %}
        {% bootstrap_field form.date_range %}
        {% bootstrap_field form.order %}
        {% bootstrap_field form.number %}
        {% bootstrap_field form.subtitle %}

        {% if form.introduction_text %}
            {% bootstrap_field form.introduction_text %}
        {% endif %}
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>
{% endblock %}
