{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Citing Authors' %}
{% endblock %}

{% block action %}
<div class='d-flex justify-content-between align-items-center'>
    <div>
        {% include 'research/partials/render_date_order_form.html' %}
    </div>
    {% if perms.research.add_citingauthor %}
    <div>
        <a class='ml-3' href='{% url "citingauthor:create" %}'>{% trans 'New Author' %}</a>
        <a class='ml-3' href='{% url "citingauthor:create_work" %}'>{% trans 'New Work' %}</a>
    </div>
    {% endif %}
</div>
{% endblock %}

{% block inner %}

    {% for object in page_obj %}

    {% include 'research/partials/citingauthor_list_item.html' with citingauthor=object %}


        <ul>

        {% for item in object.ordered_materials.testimonia %}
        {% include 'research/partials/testimonium_list_item.html' with testimonium=item citing_author=object %}
        {% endfor %}

        {% for item in object.ordered_materials.fragments %}
        {% include 'research/partials/fragment_list_item.html' with fragment=item citing_author=object %}
        {% endfor %}

        {% for item in object.ordered_materials.apposita %}
        {% include 'research/partials/anonymousfragment_list_item.html' with fragment=item citing_author=object %}
        {% endfor %}

        </ul>

    {% endfor %}

    {{ block.super }}

{% endblock %}