{% extends "research/detail_base.html" %}
{% load i18n object_lock %}

{% block heading %}

<div class='mb-2'>
    <small>
        <a href='{{ object.author.get_absolute_url }}'>{{ object.author }}</a>
    </small>
</div>

<div>{{ object.title }}</div>


{% endblock %}

{% block action %}

    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' %}

        <div class='d-flex justify-content-end'>
        {% if has_object_lock %}
            {% if perms.research.delete_citingwork %}
            <form novalidate class='form-inline' action='{% url "citingauthor:delete_work" object.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                        data-what='citing work'>{% trans 'Delete' %}</button>
                </div>
            </form>
            {% endif %}
        {% endif %}
        </div>
    {% endwith %}


{% endblock %}

{% block inner %}
    {% with request.user|has_lock:object as has_object_lock %}

    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% if perms.research.change_citingwork and has_object_lock %}
                <a href='{% url "citingauthor:update_work" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Author' %}</dt>
            <dd class="col-sm-9">
                {% if perms.research.view_citingauthor %}
                <a href='{{ object.author.get_absolute_url }}'>{{ object.author }}</a>
                {% else %}
                    {{ object.author }}
                {% endif %}
            </dd>
            <dt class="col-sm-3">{% trans 'Title' %}</dt>
            <dd class="col-sm-9">{{ object.title }}</dd>
            <dt class="col-sm-3">{% trans 'Edition' %}</dt>
            <dd class="col-sm-9">{{ object.edition|default:'-' }}</dd>
            <dt class="col-sm-3">{% trans 'Relevant Dates' %}</dt>
            <dd class="col-sm-9">
                {{ object.display_date_range|default:'-' }}
            </dd>
            <dt class="col-sm-3">{% trans 'Year for Ordering' %}</dt>
            <dd class="col-sm-9">{{ object.order_year }}</dd>

        </dl>
    </section>

    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Linked Material' %}</h5>
            </div>
            <div>
            </div>
        </div>

        <ul>

        {% for item in object.testimonia %}
        {% include 'research/partials/testimonium_list_item.html' with testimonium=item citing_author=object.author %}
        {% endfor %}

        {% for item in object.fragments %}
        {% include 'research/partials/fragment_list_item.html' with fragment=item citing_author=object.author %}
        {% endfor %}

        {% for item in object.apposita %}
        {% include 'research/partials/anonymousfragment_list_item.html' with fragment=item citing_author=object.author %}
        {% endfor %}

        </ul>


    </section>



    {% endwith %}
{% endblock %}
