{% extends "research/detail_base.html" %}
{% load i18n object_lock %}
{% block title %}Citing Author {{object.name}} {% endblock %}

{% block heading %}{{ object }}{% endblock %}

{% block action %}

    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' %}

        <div class='d-flex justify-content-end'>
        {% if has_object_lock %}
            {% if perms.research.delete_citingauthor %}
            <form novalidate class='form-inline' action='{% url "citingauthor:delete" object.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                        data-what='citing author'>{% trans 'Delete' %}</button>
                </div>
            </form>
            {% endif %}
        {% endif %}
        </div>
    {% endwith %}

{% endblock %}


{% block inner %}
    {% with request.user|has_lock:object as has_object_lock %}

    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% if perms.research.change_citingauthor and has_object_lock %}
                <a href='{% url "citingauthor:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Name' %}</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>
            {% if not object.is_anonymous_citing_author %}
            <dt class="col-sm-3">{% trans 'Name for Alphabetisation' %}</dt>
            <dd class="col-sm-9">{{ object.order_name }}</dd>
            {% endif %}
            <dt class="col-sm-3">{% trans 'Relevant Dates' %}</dt>
            <dd class="col-sm-9">
                {{ object.display_date_range|default:'-' }}
            </dd>
            <dt class="col-sm-3">{% trans 'Year for Ordering' %}</dt>
            <dd class="col-sm-9">{{ object.order_year }}</dd>
        </dl>
    </section>

    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Works' %}</h5>
            </div>
            <div>
                {% if perms.research.change_citingauthor and has_object_lock %}
                <a href='{% url "citingauthor:create_work_for_author" object.pk %}'>{% trans 'New Work' %}</a>
                {% endif %}
            </div>
        </div>

        {% for work in object.citingwork_set.all %}

            {% include 'research/partials/citingwork_list_item.html' with citingwork=work %}

        {% endfor %}
    </section>

    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Linked Material' %}</h5>
            </div>
            <div>
            </div>
        </div>


        <ul>

        {% for text_type, item in ordered_materials %}
            {% if text_type == 'fragment' %}
                {% include 'research/partials/fragment_list_item.html' with fragment=item citing_author=object %}
            {% elif text_type == 'testimonium' %}
                {% include 'research/partials/testimonium_list_item.html' with testimonium=item citing_author=object %}
            {% elif text_type == 'anonymous fragment' %}
                {% include 'research/partials/anonymousfragment_list_item.html' with fragment=item citing_author=object %}
            {% endif %}
        {% endfor %}

        </ul>

    </section>

    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Bibliography' %}</h5>
            </div>
            <div>
                {% if perms.research.change_citingauthor and has_object_lock %}
                <a href='{% url "citingauthor:update" object.pk %}'>{% trans 'Add existing' %}</a><p></p>
                <a href='{% url "bibliography:create" %}'>{% trans 'Add new' %}</a>
                {% endif %}
            </div>
        </div>
        {% for item in object.bibliography_items.all %}

        {% include 'research/partials/bibliography_list_item.html' with can_edit=perms.research.change_citingauthor has_object_lock=has_object_lock %}

        {% endfor %}
    </section>

    {% endwith %}

{% endblock %}
