{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Citing Authors' %}
{% endblock %}

{% block action %}
{% endblock %}

{% block inner %}
    {% for object in page_obj %}
        <h5 class='mt-2'>{{ object }}</h5>
        {% comment %}
        {% for citingwork in object.citingwork_set.all %}
            {% include 'research/partials/citingwork_list_item.html' with citingwork=citingwork %}
        {% endfor %}
        {% endcomment %}

        <ul>

        {% for item in object.ordered_materials.testimonia %}
        {% include 'research/partials/testimonium_list_item.html' with testimonium=item citing_author=object %}
        {% endfor %}

        {% for item in object.ordered_materials.fragments %}
        {% include 'research/partials/fragment_list_item.html' with fragment=item citing_author=object %}
        {% endfor %}

        {% for item in object.ordered_materials.apposita %}
        {% include 'research/partials/fragment_list_item.html' with fragment=item citing_author=object %}
        {% endfor %}

        </ul>

    {% endfor %}

    {{ block.super }}

{% endblock %}