{% extends "research/list_base.html" %}
{% load i18n bootstrap4 %}
{% block title %}
    {% trans 'Concordances' %}
{% endblock %}

{% block heading %}
    {% trans 'Concordance Search' %}
{% endblock %}

{% block action %}{% endblock %}

{% block displaying %}{% endblock %}

{% block inner %}
<div>
  <p>
  The following options are available to search as they have associated concordances. Options with no associated concordances have been hidden.</p>
</div>
<form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='GET' id="concordance-search__form">
  {% csrf_token %}
  <div class="d-flex row mx-3 concordance-search__wrapper">
  {% bootstrap_form form %}
  </div>
</form>

<div id="concordance-search__results">
</div>

{% endblock %}
