{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Concordance Table' %}
{% endblock %}

{% block action %}{% endblock %}

{% block displaying %}{% endblock %}

{% block inner %}

  {% if page_obj.paginator.count > 0 %}

    {% with max_length=column_range|length %}

    <style>
      .table-responsive {
        width: 100%;
        overflow: auto;
      }
      td, th {
        white-space: nowrap;
      }
    </style>


<div class=" table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">FRRAnt</th>
          {% for i in column_range %}
          <th scope="col">Author {{ forloop.counter }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody class='alphabetum'>
        {% for object in page_obj %}
          <tr>
              <td>
                  <a href='{{ object.frrant.url }}'>{{ object.frrant.display_name }}</a>
              </td>

          {# NB the object here is a FragmentLink object #}
          {% for c in object.concordances %}
              <td {% if forloop.last %}{% if forloop.counter < max_length %}colspan='{{ max_length }}'{% endif %}{% endif %}>
                {{ c.source }} {{ c.identifier }}
              </td>
          {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
    {% endwith %}

  {% endif %}

  {{ block.super }}


{% endblock %}
