{% extends "research/base.html" %}
{% load i18n bootstrap4 %}
{% load crispy_forms_tags %}

{% block heading %}
    {% if object %}
        {% trans 'Update Concordance' %}
    {% else %}
        {% trans 'Create Concordance' %}
    {% endif %}
{% endblock %}

{% block inner %}
    <label>For original text:</label>

        <div>
            {% include 'research/partials/original_text_preview.html' with original_text=original_text %}
        </div>

    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% comment %} {% bootstrap_form form %} {% endcomment %}
        {{ forms.concordances.management_form }}
        <legend style="font-family:alphabetum; font-size:large">Concordances</legend>

        <div id="concordance-form-area" class="pr-3">
        {% for form in forms.concordances %}
        <div class="concordance-form form-row justify-content-start">
            {% for hidden in form.hidden_fields %}
            {{ hidden|as_crispy_field }}
            {% endfor %}
            {% bootstrap_field form.source show_label=False field_class="mr-5 col" %}
            {% bootstrap_field form.identifier show_label=False field_class="mr-3 pr-4 col" %}
            {% bootstrap_field form.DELETE field_class="col-sm mt-1 form-check" %}
        </div>
        {% endfor %}

            <button class='add-form btn btn-light btn-sm pr-2 float-right' id="add-concordance-form">
            + Add another concordance
            </button>
        </div>
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>

    <script>
        let concordanceForm = document.querySelectorAll(".concordance-form")
        let container = document.querySelector("#concordance-form-area")
        let addButton = document.querySelector("#add-concordance-form")
        let totalForms = document.querySelector("#id_concordances-TOTAL_FORMS")
    
        let formNum = concordanceForm.length-1
        addButton.addEventListener('click', addForm)
    
        function addForm(e){
            e.preventDefault()
            let newForm = concordanceForm[0].cloneNode(true)
            let formRegex = RegExp(`concordances-(\\d){1}-`,'g')
            let valueRegex = RegExp(`value="[^"]+"`, 'g')
    
            formNum++
            newForm.innerHTML = newForm.innerHTML.replace(formRegex, `concordances-${formNum}-`).replace(valueRegex, "")
            container.insertBefore(newForm, addButton)
    
            totalForms.setAttribute('value', `${formNum+1}`)
        }
    </script>
{% endblock %}
