{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Update Concordance' %}
    {% else %}
        {% trans 'Create Concordance' %}
    {% endif %}
{% endblock %}

{% block inner %}
    <label>For original text:</label>

        <div>
            {% include 'research/partials/original_text_preview.html' with original_text=original_text %}
        </div>

{% if edition_form %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST' id="edition_form">
        {% csrf_token %}

        <h2>Create or select an Edition</h2>
        <div class="d-flex justify-content-between">
        {% bootstrap_field edition_form.edition %}
        {% bootstrap_field edition_form.display_order %}
        </div>
        <div class="d-flex  justify-content-between">
            {% bootstrap_field edition_form.new_edition %}
            {% bootstrap_field edition_form.new_description %}

            <script>
                // this disables the new description field if there's no value in the new edition field
                var newDescriptionElem=document.getElementById("id_new_description");
                var newEditionElem=document.getElementById("id_new_edition");

                newEditionElem.addEventListener("input", function() {
                    if (newEditionElem.value.trim() === '') {
                    newDescriptionElem.disabled = true;
                    document.getElementById("id_edition").disabled = false;

                } else {
                    newDescriptionElem.disabled = false;
                    document.getElementById("id_edition").disabled = true;
                }
                })

            </script>
        </div>
        <button type="button" class="btn btn-primary" hx-post="{{post_url}}" hx-target="#edition_form" hx-trigger="click" hx-swap="outerHTML">Next</button>
    </form>
{% endif %}

{% if concordance_form %}
    {% include 'research/partials/concordance_form_section.html' %}
{% endif %}

{% endblock %}
