{% extends "research/list_base.html" %}
{% load i18n bootstrap4 static %}
{% block title %}
    {% trans 'Concordances' %}
{% endblock %}

{% block heading %}
    {% trans 'Concordance Search' %}
{% endblock %}

{% block action %}{% endblock %}

{% block displaying %}{% endblock %}

{% block inner %}

<script src="{% static 'js/concordanceSearchScripts.js' %} "></script>
<div>
  <p>
    Searching by Antiquarian or Work will return results regardless of existing concordances. Please note that when searching by Edition or Part Identifier the options available to search have associated concordances. Options with no associated concordances have been hidden.</p>
</div>

<form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='GET' id="concordance-search__form" hx-post="{{ request.path }}" hx-target="#concordance-search__results" hx-trigger="change from:select">
  {% csrf_token %}
  <div class="mb-2 d-flex row justify-content-end"><button type="reset" onclick="disableWork()" class="btn btn-sm btn-outline-danger">Reset selections</button>
  </div>
  <div class="d-flex row mx-3 concordance-search__wrapper">
  {% bootstrap_form form %}

  </div>
</form>

<div id="concordance-search__results" class="my-3 pb-2">
  <div class="loader-wrapper">
  <div class="loader" id="loader"></div>
  </div>
  {% comment %} todo: use db for results then fuse to search within those? {% endcomment %}
</div>

{% endblock %}
