{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
        {% trans 'Create Original Text' %}
{% endblock %}

{% block inner %}

    {# Use a GET form to select the work #}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form work-form" method='GET'>
        {% bootstrap_field forms.original_text.citing_author field_class='submit-on-change' %}
    </form>

    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form work-form" method='GET'>
        <input type='hidden' name='citing_author' value='{{ citing_author.pk }}' />
        {% bootstrap_field forms.original_text.citing_work field_class='submit-on-change' %}
    </form>

    {# Use a POST form to update the rest of the details #}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}

        {# hide the previously-entered work info in the form #}
        <input type='hidden' name='citing_author' value='{{ citing_author.pk }}' />
        <input type='hidden' name='citing_work' value='{{ citing_work.pk }}' />

        {% if citing_author and citing_work %}
            {% include 'research/partials/reference_form.html' %}
            {% bootstrap_field forms.original_text.reference_order %}


            {% bootstrap_field forms.original_text.content %}

            {% with enable_apparatus_criticus=object %}
            {# only allow apparatus criticus editing if we have an object #}
            {% bootstrap_field forms.original_text.apparatus_criticus_blank %}
            {% endwith %}

            <button type="submit" name='create_object' class="btn btn-primary">
                    {% trans 'Create' %}
            </button>
             <button name='then_add_apparatus_criticus' type="submit" class="btn btn-outline-primary">
            {% trans 'Create and Add Apparatus Criticus' %}
            </button>

        {% endif %}

    </form>

    <hr>

    {% if object %}
    {% include 'research/partials/apparatus_criticus_builder.html' with form=forms.original_text original_text=object %}
    {% endif %}


{% endblock %}
