{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Update Original Text' %}
    {% else %}
        {% trans 'Create Original Text' %}
    {% endif %}
{% endblock %}

{% block inner %}

    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% for field in form %}
            {% bootstrap_field field %}
            {% if field.name == 'content' or field.name == 'apparatus_criticus' %}

            {% include 'research/partials/rich_text_editor.html' with field=field %}

            {% endif %}
        {% endfor %}

        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>
{% endblock %}