{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block title %}Update Original Text {{object.pk}} {% endblock %}

{% block heading %}
        {% trans 'Update Original Text Details' %}
{% endblock %}

{% block inner %}


    {# Use a POST form to select the work #}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form original-text-update" method='POST'>
        {% csrf_token %}
        {% include 'research/partials/reference_form.html' %}
        {% bootstrap_field form.reference_order field_class='d-flex' %}
        {% bootstrap_field form.content %}

        {% with enable_apparatus_criticus=object %}
          {% if enable_apparatus_criticus %}
              {% if object_class %}
              {# we are editing a parent object's commentary #}
              <small>Enter a, b, c for the index of the original text where if than one exists for this object</small>
              {% endif %}
          {% endif %}
        {% endwith %}

        {# include checkbox to indicate if there are no apparatus criticus #}
        {% if object.apparatus_criticus_lines %}
          {% bootstrap_field form.apparatus_criticus_blank field_class="invisible"%}
        {% else %}
          {% bootstrap_field form.apparatus_criticus_blank field_class="visible"%}
        {% endif %}


        <button type="submit" class="btn btn-primary">
                {% trans 'Save' %}
        </button>


    </form>

    <hr>
   {% if object %}
    {% include 'research/partials/apparatus_criticus_builder.html' with form=form original_text=object %}
    {% endif %}

{% endblock %}
