{% extends "research/list_base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Testimonia' %}
{% endblock %}

{% block heading %}
    {% trans 'Testimonia' %}
{% endblock %}

{% block action %}
    {% if perms.research.add_testimonium %}
    <a href='{% url "testimonium:create" %}'>{% trans 'Create New' %}</a>
    {% endif %}
{% endblock %}

{% block inner %}
    {% for object in page_obj %}
    {% include 'research/partials/testimonium_list_item.html' with testimonium=object %}
    {% endfor %}

    {{ block.super }}

{% endblock %}
