{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% trans 'Update Commentary for Testimonium' %}
{% endblock %}

{% block inner %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}

        {% bootstrap_field form.commentary_text field_class='d-none' show_label=False %}
        {% include 'research/partials/rich_text_editor.html' with field=form.commentary_text %}

        <button type="submit" class="btn btn-primary">
            {% trans 'Save' %}
        </button>
    </form>
{% endblock %}
