{% extends "research/detail_base.html" %}
{% load i18n bootstrap4 static humanize object_lock %}
{% block title %}Testimonium {{object.pk}} {% endblock %}
{% block heading %}
    {{ object.get_display_name }}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'js/check_forms_dirty.js' %}"></script>
{% endblock %}

{% block action %}
    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' %}

        <div class='d-flex justify-content-end'>
        {% if has_object_lock %}
            {% if perms.research.delete_testimonium %}
            <form novalidate class='form-inline' action='{% url "testimonium:delete" testimonium.pk %}' method='POST'>
                {% csrf_token %}
                <div class='form-group'>
                    <button type='submit' class='btn btn-link text-danger {% if object.mentioned_in.all %}confirm-delete-mentions {% else %} confirm-delete {% endif %} p-0 ml-2'
                        data-what='testimonium'>{% trans 'Delete' %}</button>
                </div>
            </form>
            {% endif %}
        {% endif %}
        </div>
    {% endwith %}
{% endblock %}

{% block inner %}
    {% with request.user|has_lock:object as has_object_lock %}

    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% comment %}
                {% if perms.research.change_testimonium and has_object_lock %}
                <a href='{% url "testimonium:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
                {% endcomment %}
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Name' %}</dt>
            <dd class="col-sm-9">{{ object.get_display_name }}</dd>

            {% if object.topics is not None %}
            <dt class="col-sm-3">{% trans 'Topics' %}</dt>
            <dd class="col-sm-9">
                {% if object.topics.count == 0%}-{% endif %}
                {% for topic in object.topics.all %}{% if forloop.counter0 > 0 %}, {% endif %}
                    {% if perms.research.view_topic %}
                        <a href='{% url "topic:detail" topic.slug %}'>{{ topic.name }}</a>
                    {% else %}
                        {{ topic.name }}
                    {% endif %}
                {% endfor %}
            </dd>
            {% endif %}

            <dt class="col-sm-3">{% trans 'Original Texts' %}</dt>
            <dd class="col-sm-7">{{ object.original_texts.count }}</dd>
            {% if perms.research.change_testimonium and perms.research.add_originaltext and has_object_lock %}
            <dd class="col-sm-2 actions">
                <a style='float:right;' href='{% url "testimonium:create_original_text" object.pk %}'>Add</a></dd>
            </dd>
            {% endif %}
        </dl>

    </section>

    {% for original_text in object.original_texts.all %}
    <hr>

    <section>

        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Original Text' %} {{ forloop.counter }}</h5>
            </div>
            <div>
                {% if perms.research.change_testimonium and has_object_lock %}
                <form novalidate class='form-inline' action='{% url "testimonium:delete_original_text" original_text.pk %}' method='POST'>
                    {% csrf_token %}
                    <div class="form-row align-items-center">
                        {% if perms.research.change_originaltext %}
                        Edit&nbsp;
                        <a href='{% url "testimonium:update_author_original_text" original_text.pk %}'>Citing Work</a>
                        &nbsp;/&nbsp;
                        <a href='{% url "testimonium:update_original_text" original_text.pk %}'>Details</a>
                        {% endif %}
                        {% if perms.research.delete_originaltext %}
                        <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2' data-what='original text'>{% trans 'Delete' %}</button>
                        {% endif %}
                    </div>
                </form>
                {% endif %}

            </div>
        </div>

        <div>
            {% include 'research/partials/original_text_preview.html' with original_text=original_text %}
        </div>


        {% include 'research/partials/section/original_text_details.html' with show_concordances=False original_text=original_text can_edit=perms.research.change_testimonium has_object_lock=has_object_lock %}


        <div class='mt-3'>
        {% for translation in original_text.translation_set.all %}
            {% include 'research/partials/translation_preview.html' with translation=translation can_edit=perms.research.change_testimonium has_object_lock=has_object_lock %}
        {% endfor %}
        </div>


    </section>

    {% endfor %}

    <hr>

    <section>
      <div class='d-flex justify-content-between mb-3'>
        <div>
            <h5>{% trans 'Commentary' %}</h5>
        </div>
        <div>
            {% if perms.research.change_testimonium and has_object_lock %}
            <button
              class="btn text-primary p-0 ml-2"
              hx-get="{% url 'testimonium:update_commentary' object.pk %}"
              hx-target=".commentary-container"
              hx-swap="innerHTML">{% trans 'Edit' %}</button>
            {% endif %}
        </div>
    </div>
    <div class="commentary-container rich-text-form-container">
      {% include 'research/partials/text_object_preview.html' with text_object=object.commentary %}
    </div>
    </section>


    {% if perms.research.change_testimonium and has_object_lock %}
    <br>
    <section class="public-commentary-section">
        <div class='d-flex justify-content-between mb-3'>
          <div>
              <h5>{% trans 'See Also' %}</h5>
          </div>
          <div>
              {% if perms.research.change_testimonium and has_object_lock %}
              <button
                class="btn text-primary p-0 ml-2"
                hx-get="{% url 'testimonium:update_public_commentary' object.pk %}"
                hx-target=".public-commentary-container"
                hx-swap="innerHTML">{% trans 'Edit' %}</button>
              {% endif %}
          </div>
        </div>
        <div class="public-commentary-container rich-text-form-container">
                {% include 'research/partials/text_object_preview.html' with text_object=object.public_commentary_mentions %}
        </div>
    </section>
    {% endif %}
    {% if object.public_commentary_mentions.approved %}
    <section>
        <div class="public-commentary-container rich-text-form-container">
            {% include 'research/partials/text_object_preview.html' with text_object=object.public_commentary_mentions %}
        </div>
    </section>
    {% endif %}


    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Links' %}</h5>
            </div>
            <div>
                {% if perms.research.change_testimonium and has_object_lock %}
                <a href='{% url "testimonium:add_work_link" object.pk %}'>{% trans 'Add Link' %}</a>
                {% endif %}
            </div>
        </div>

        {% for link_object in organised_links %}
        {% for antiquarian, contents in link_object.items %}
        {% with links=contents.0 %}
        {% with definite_ant=contents.1 %}
            {% include 'research/partials/linked_antiquarian.html' with antiquarian=antiquarian linked_field='testimonium' object=object definite_antiquarian=definite_ant  can_edit=perms.research.change_testimonium has_object_lock=has_object_lock %}

            <div class="pl-4 mb-4 mt-0">
            {% for link in links %}
                {% include 'research/partials/linked_work.html' with link=link linked_field='testimonium' can_edit=perms.research.change_testimonium has_object_lock=has_object_lock is_last=forloop.last %}
            {% endfor %}
        </div>
        {% endwith %}
        {% endwith %}
        {% endfor %}
        {% endfor %}

    </section>

    {% if object.mentioned_in.all %}
    <hr>

    {% include 'research/partials/section/mentions_section.html' with object=object obj_name="testimonium" %}

    {% endif %}


    {% endwith %}

{% endblock %}
