{% extends "research/base.html" %}

{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Update Translation' %}
    {% else %}
        {% trans 'Create Translation' %}
    {% endif %}
{% endblock %}

{% block inner %}

    <label>{% trans 'Original Text to Translate' %}</label>
    <div>
        {% include 'research/partials/original_text_preview.html' with original_text=original_text %}
    </div>

    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>
{% endblock %}