{% extends "research/base.html" %}
{% load i18n %}

{% block heading %}{{ object.name }}{% endblock %}

{% block action %}
    <form class='form-inline' action='{% url "work:delete" work.pk %}' method='POST'>
        {% csrf_token %}
        <div class='form-group'>
            <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                data-what='work'>{% trans 'Delete' %}</button>
        </div>
    </form>     
{% endblock %}

{% block inner %}
    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                <a href='{% url "work:update" object.pk %}'>{% trans 'Edit' %}</a>
            </div>
        </div>

        <dl class="row mb-0">
            <dt class="col-sm-3">{% trans 'Name' %}</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>
        
            <dt class="col-sm-3">{% trans 'Subtitle' %}</dt>
            <dd class="col-sm-9">{{ object.subtitle|default:'-' }}</dd>

            <dt class="col-sm-3">{% trans 'Number of Volumes' %}</dt>
            <dd class="col-sm-9">{{ object.number_of_volumes|default:'-' }}</dd>
        </dl>
    </section>
    
    <hr>
    
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Antiquarians' %}</h5>
            </div>
        </div>

        {% for antiquarian in object.antiquarian_set.all %}

        {% include 'research/partials/antiquarian_list_item.html' %}

        {% endfor %}
    </section>

    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Definite Fragments' %}</h5>
            </div>
            <div>
            </div>
        </div>

        {% for fragment in object.definite_fragments.all %}

        {% include 'research/partials/fragment_list_item.html' with fragment=fragment %}

        {% endfor %}
    </section>

    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Possible Fragments' %}</h5>
            </div>
            <div>
            </div>
        </div>

        {% for fragment in object.possible_fragments.all %}

        {% include 'research/partials/fragment_list_item.html' with fragment=fragment %}

        {% endfor %}
    </section>

{% endblock %}