{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Works' %}
{% endblock %}

{% block action %}
    <a href='{% url "work:create_anonymous" %}'>{% trans 'Create New' %}</a>
{% endblock %}

{% block inner %}
    {% for object in page_obj %}
    
    {% include 'research/partials/work_list_item.html' with work=object %}

    {% comment %}
    <div class="card mb-3">
        <div class="card-body">
            <div class='d-flex justify-content-between'>
                <div>
                    <h5 class="card-title">{{ object.name }}</h5>
                </div>
                <div>
                    <small>
                        {% blocktrans count number=object.antiquarian_set.count %}
                        One antiquarian
                        {% plural %}
                        {{ number }} antiquarians 
                        {% endblocktrans %}
                    </small>
                </div>
            </div>
            <div class='d-flex justify-content-between'>
                <div class='card-text text-muted'>
                    {{ object.subtitle }} 
                </div>
                <div class='d-flex justify-content-end'>
                    <div>
                        <a href='{% url "work:detail" object.pk %}' class='ml-2 align-middle'>{% trans 'View' %}</a>
                    </div>
                    <div>
                        <form class='form-inline' action='{% url "work:delete" object.pk %}' method='POST'>
                            {% csrf_token %}
                            <div class='form-group'>
                                <a href='{% url "work:update" object.pk %}'
                                    class='ml-2 align-middle'>{% trans 'Edit' %}</a>
                                <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                                    data-what='work'>{% trans 'Delete' %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endcomment %}
    {% endfor %}

    {{ block.super }}

{% endblock %}