{% extends "research/detail_base.html" %}
{% load i18n object_lock links_for_work bootstrap4 static humanize %}
{% block title %}Work: {{object.name}} ({{object.antiquarian_set.first}}) {% endblock %}
{% block heading %}
{% if object.antiquarian_set.count %}
<div class='mb-2'>
    <small>
        {% for a in object.antiquarian_set.all %}{% if not forloop.first %}, {% endif %}<a href='{{ a.get_absolute_url }}'>{{ a }}</a>{% endfor %}
    </small>
</div>
{% endif %}
<div>{{ object.name }}</div>
{% endblock %}

{% block last_modified %}{% endblock %}

{% block action %}

    {% with request.user|has_lock:object as has_object_lock %}

        {% include 'research/partials/render_locked_info.html' %}

        <div class='d-flex justify-content-end'>
        {% if has_object_lock %}
            {% if perms.research.delete_work %}
                <form novalidate class='form-inline' action='{% url "work:delete" work.pk %}' method='POST'>
                    {% csrf_token %}
                    <div class='form-group'>
                        <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                            data-what='work'>{% trans 'Delete' %}</button>
                    </div>
                </form>
            {% endif %}
        {% endif %}
        </div>
    {% endwith %}
{% endblock %}

{% block inner %}
    {% with request.user|has_lock:object as has_object_lock %}
    <hr>
    <section id="work-info">
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Details' %}</h5>
            </div>
            <div>
                {% if perms.research.change_work and has_object_lock %}
                <a href='{% url "work:update" object.pk %}'>{% trans 'Edit' %}</a>
                {% endif %}
            </div>
        </div>

        {% comment %} <section> {% endcomment %}
          {% if editing == 'introduction' %}
          <div>
              {% if perms.research.change_work and has_object_lock %}
              <form novalidate enctype="multipart/form-data" autocomplete='off' action='{% url "work:update_introduction" object.pk %}' class="form" method='POST'>
                  {% csrf_token %}
                  <div class="pb-3">
                      {% bootstrap_field form.introduction_text field_class='d-none' show_label=False %}
                      {% include 'research/partials/rich_text_editor.html' with object_id=object.pk object_class='work' field=form.introduction_text enable_mentions=True enable_apparatus_criticus=True %}
                  </div>
                  <button type="submit" class="btn btn-primary inline-save-button">
                          {% trans 'Save' %}
                  </button>
                  <a class='ml-3 inline-cancel-button' href='{% url "work:detail" object.pk %}'>{% trans 'Cancel' %}</a>
              </form>
              {% endif %}
          </div>
          {% else %}
          <div class='d-flex justify-content-between mb-3'>
              <small>
                  {% if perms.research.change_work and has_object_lock %}
                  <a href='{% url "work:update_introduction" object.pk %}'>{% trans 'Edit Introduction' %}</a>
                  {% endif %}
              </small>
          </div>
          <div>
              {% include 'research/partials/text_object_preview.html' with text_object=object.introduction %}
          </div>
          {% endif %}
      {% comment %} </section> {% endcomment %}

        <dl class="row mb-0 mt-4">
            <dt class="col-sm-3">{% trans 'Name of Work' %}</dt>
            <dd class="col-sm-9">{{ object.name }}</dd>

            <dt class="col-sm-3">{% trans 'Subtitle' %}</dt>
            <dd class="col-sm-9">{{ object.subtitle|default:'-' }}</dd>

            <dt class="col-sm-3">{% trans 'Relevant Dates' %}</dt>
            <dd class="col-sm-9">
                {{ object.display_date_range|default:'-' }}
            </dd>

            <dt class="col-sm-3">{% trans 'Number of Books' %}</dt>
            <dd class="col-sm-7">{{ object.number_of_books|default:'-' }}</dd>
            {% if perms.research.change_work and perms.research.add_book and has_object_lock %}
            <dd class="col-sm-2 actions"><a style='float:right' href='{% url "work:create_book" object.pk %}'>Add Book</a></dd>
            {% endif %}

            {% if object.book_set.count > 0 %}

            <dt class="col-sm-3">{% trans 'Books' %}</dt>
            <dd class="col-sm-9">

              {% for book in object.book_set.all %}
                <div class='d-flex justify-content-between mb-3'>
                  <div>
                    {% if book in cleaned_materials %}
                      <a href="#{{book.get_anchor_id}}">{{book}}</a>
                    {% else %}
                      {{ book }}
                    {% endif %}
                    <br><small>{{ book.display_date_range }}</small></div>
                  <div>
                    <form novalidate class='form-inline' action='{% url "work:delete_book" book.pk %}' method='POST'>
                      {% csrf_token %}
                      <div class='form-row align-items-center'>
                        {% if perms.research.change_work and perms.research.change_book and has_object_lock %}
                          <a href='{% url "work:update_book" book.pk %}'>Edit</a>
                        {% endif %}
                        {% if perms.research.change_work and perms.research.delete_book and has_object_lock %}
                          <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                              data-what='book'>{% trans 'Delete' %}</button>
                        {% endif %}
                        <a class='ml-2' href='{{ book.history_url }}'><small><i class='fas fa-list'></i> Changelog</small></a>
                      </div>
                    </form>
                  </div>
                </div>
              {% endfor %}
            </dd>

            {% endif %}
        </dl>

        <p>
          <small>
          {% include 'research/partials/render_last_modified_info.html' with object=object %}
          </small>
        </p>

    </section>

    {% comment %}
    <hr>
    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Antiquarians' %}</h5>
            </div>
        </div>

        {% for antiquarian in object.antiquarian_set.all %}

        {% include 'research/partials/antiquarian_list_item.html' %}

        {% endfor %}
    </section>

    {% endcomment %}

    <section> {% if perms.research.change_work and has_object_lock %}
      {% include 'research/partials/ordered_book_area.html' with ordered_materials=ordered_materials can_edit=perms.research.change_work has_object_lock=has_object_lock %}
      {% else %}
      {% include 'research/partials/ordered_book_area.html' with ordered_materials=cleaned_materials %}
      {% endif %}
    </section>


    <hr>

    <section>
        <div class='d-flex justify-content-between mb-3'>
            <div>
                <h5>{% trans 'Apposita' %}</h5>
            </div>
            <div>
                {% if perms.research.change_work and has_object_lock %}
                <a href='{% url "anonymous_fragment:create_appositum_for" "work" object.pk %}'>{% trans 'Create Appositum' %}</a>
                {% endif %}
            </div>
        </div>


            {% with alinks=object.antiquarian_work_appositumfragmentlinks.all %}


                {% for link in alinks %}
                    {% include 'research/partials/appositum_fragment_link_list_item.html' with link=link link_text=link.get_work_display_name_full|safe can_edit=False %}
                {% endfor %}

                {% if not alinks %}
                <div class='text-muted my-3 ml-4'><em>No linked material for this work</em></div>
                {% endif %}

            {% endwith %}

    </section>

    {% endwith %}
{% endblock %}
