{% extends "research/list_base.html" %}
{% load i18n %}

{% block heading %}
    {% trans 'Works' %}
{% endblock %}

{% block action %}
<div class='d-flex justify-content-between align-items-center'>
    <div>
        {% include 'research/partials/render_date_order_form.html' %}
    </div>
    {% if perms.research.add_work %}
    <div>
        <a class='ml-3' href='{% url "work:create" %}'>{% trans 'Create New' %}</a>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block inner %}
    {% for object in page_obj %}
    
        {% include 'research/partials/work_list_item.html' with work=object %}

    {% endfor %}

    {{ block.super }}

{% endblock %}
