{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Update Work' %}
    {% else %}
        {% trans 'Create Work' %}

        {% if antiquarian %}
        <small>
            {% blocktrans with name=antiquarian.name %}
                For {{ name }}
            {% endblocktrans %}
        </small>
        {% endif %}

    {% endif %}
{% endblock %}

{% block inner %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.subtitle %}
        {% bootstrap_field form.antiquarians %}

        {% bootstrap_field form.number_of_books %}
        {% bootstrap_field form.date_range %}
        {% bootstrap_field form.order_year %}

        {% if object %}
        <ul>
            {% for book in object.book_set.all %}
            <li>{{ book }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {{ form.errors.books }}
        {{ form.non_field_errors }}
        {{ form.books }}

        {% if form.introduction_text %}
        {% bootstrap_field form.introduction_text %}
    {% endif %}

        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
</form>
{% endblock %}
