{% extends "research/base.html" %}
{% load i18n bootstrap4 %}

{% block heading %}
    {% if object %}
        {% trans 'Update Work' %}
    {% else %}
        {% trans 'Create Work' %}

        {% if antiquarian %}
        <small>
            {% blocktrans with name=antiquarian.name %}
                For {{ name }}
            {% endblocktrans %}
        </small>
        {% endif %}
        
    {% endif %}
{% endblock %}

{% block inner %}
    <form novalidate enctype="multipart/form-data" autocomplete='off' action='{{ request.path }}' class="form" method='POST'>
        {% csrf_token %}
        {% bootstrap_field form.name %}
        {% bootstrap_field form.subtitle %}
        {% bootstrap_field form.number_of_books %}

        {% include 'research/partials/render_date_form_fields.html' %}

        <button type="submit" class="btn btn-primary">
            {% if object %}
                {% trans 'Save' %}
            {% else %}
                {% trans 'Create' %}
            {% endif %}
        </button>
    </form>
{% endblock %}