{% load i18n bootstrap4 %}

<form
  id="commentary-inline-form"
  class="form"
  novalidate
  autocomplete='off'
  hx-post="{{ request.path }}"
  hx-target="closest .commentary-container"
  hx-swap="innerHTML">
    {% csrf_token %}
    {% bootstrap_field form.commentary_text show_label=false %}
  <button type="submit" class="btn btn-primary">
    {% trans 'Save' %}
  </button>
  <button type="button" class="btn btn-secondary" hx-get="{{ cancel_url }}">
    {% trans 'Cancel' %}
  </button>
</form>
