{% load i18n bootstrap4 %}

<form
  id="introduction-inline-form"
  class="form"
  novalidate
  autocomplete='off'
  hx-post="{{ request.path }}"
  hx-target="closest .introduction-container"
  hx-swap="innerHTML">
    {% csrf_token %}
        {% bootstrap_field form.introduction_text  show_label=false %}

  <button type="submit" class="btn btn-primary">
    {% trans 'Save' %}
  </button>
  <button type="button" class="btn btn-secondary" hx-get="{{ cancel_url }}" _="on click show .htmx-get-button">
    {% trans 'Cancel' %}
  </button>
</form>
