{# Requires antiquarian as object #}
{% load i18n %}

<div id="bib-outer">
  <div>
    <h5>{% trans 'Bibliography' %}</h5>
  </div>
  <div id="bib-buttons-area" class="d-flex flex-row-reverse">
    {% if perms.research.add_bibliographyitem %}
    <button type="button" _="on click hide .bib-edit-button" class='btn text-primary p-0 ml-2 bib-edit-button' hx-get="{% url "antiquarian:add_bibliographyitem" pk=antiquarian.pk %}" hx-trigger="click" hx-target="#bib-edit-area" hx-swap="innerHTML">{% trans 'Add new' %}</button>
    {% endif %}
    {% if perms.research.change_bibliographyitem %}
    <button type="button" _="on click hide .bib-edit-button" class='btn text-primary p-0 ml-2 bib-edit-button' hx-get="{% url 'antiquarian:link_bibliographyitem' pk=antiquarian.pk %}" hx-trigger="click" hx-target="#bib-edit-area" hx-swap="innerHTML">{% trans 'Add existing' %}</button>
    {% endif %}
  </div>
  <div id="bib-edit-area"></div>
  <div id="bib-list">
    {% for item in bibliography_items.all %}
      {% include 'research/partials/bibliography_list_item.html' %}
    {% endfor %}
  </div>
</div>
