{# Assumes context objects named 'original_text', 'can_edit' and 'has_object_lock' and 'show_concordances' #}

{% load i18n %}

<dl class="row mb-0">
    <dt class="col-sm-3">{% trans 'Citing Work' %}</dt>
    <dd class="col-sm-9">
        {% if original_text.citing_work %}

            {% if original_text.citing_work.author %}
                <a href='{% url "citingauthor:detail" original_text.citing_work.author.pk %}'>{{ original_text.citing_work.author }}</a>,
            {% else %}
            Unknown,
            {% endif %}
            <a href='{% url "citingauthor:work_detail" original_text.citing_work.pk %}'>{{ original_text.citing_work.title }}</a>
        {% else %}
        -
        {% endif %}
    </dd>

    <dt class="col-sm-3">{% trans 'References' %}</dt>
    <dd class="col-sm-9">
    {{original_text.reference_list}}
    </dd>

{% comment %}
    {# to restore the legacy apparatus criticus entry uncommment this block #}
    <dt class="col-sm-3">{% trans 'Apparatus Criticus' %}</dt>
    <dd class="col-sm-9">{{ original_text.apparatus_criticus|safe|default:'-'|linebreaks }}</dd>
{% endcomment %}

    <dt class="col-sm-3">{% trans 'Apparatus Criticus' %}</dt>
    <dd class="col-sm-9">
        <div>
            {% for line in original_text.apparatus_criticus_lines %}
               <a href='#{{ line.get_anchor_id }}'>{{ line.order|add:1 }}</a>&nbsp;{{ line.content|safe }} {% if not forloop.last %}|{% endif %}
            {% endfor %}
            {% if not original_text.apparatus_criticus_lines %}
              {% if original_text.apparatus_criticus_blank %}
                No apparatus criticus exists for this original text.
              {% else %}
                <div class="alert alert-warning">No apparatus criticus; confirmation needed.</div>
              {% endif %}
            {% endif %}
        </div>
    </dd>

</dl>


    {% if show_concordances %}
    <dl class="row mb-0">
        <dt class="col-sm-3">{% trans 'Concordances' %}</dt>
        <dd class="col-sm-7">
            <div>
            <em>{% trans 'old concordances:' %}</em>
            {% if original_text.concordances.count == 0 %}
                None
            {% endif %}
            {% for c in original_text.concordances.all%}
            <small>{{c}}</small>
            {% endfor %}
            </div>
            <em>{% trans 'new concordances:' %}</em>
            {% if original_text.concordance_models.count == 0 %}
            None
        {% endif %}
            {% for concordance in original_text.concordance_models.all %}
                <div class='d-flex justify-content-between mb-3'>
                <div>{{ concordance }}</div>
                <div>
                    {% if can_edit and has_object_lock %}
                    <form novalidate class='form-inline' action='{% url "concordance:delete" concordance.pk %}' method='POST'>
                        {% csrf_token %}
                        <div class='form-row align-items-center'>
                            {% if perms.research.change_concordance %}
                            <a href='{% url "concordance:update" concordance.pk %}' {% if object.duplicate_frags.all %}class="alert-duplicates" {% endif %}>Edit</a>
                            {% endif %}
                            {% if perms.research.delete_concordance %}
                            <button type='submit' class='btn btn-link text-danger confirm-delete p-0 ml-2'
                                data-what='concordance'>{% trans 'Delete' %}</button>
                            {% endif %}
                            <a class='ml-2' href='{{ concordance.history_url }}'><small><i class='fas fa-list'></i> Changelog</small></a>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </dd>
        {% if can_edit and has_object_lock and perms.research.add_concordance %}
        <dd class="col-sm-2 actions"><a style='float:right' href='{% url "concordance:create" original_text.pk %}'>Add</a></dd>
        {% endif %}
    </dl>
    {% endif %}
    <dl class="row mb-0">

        <dt class="col-sm-3">{% trans 'Translations' %}</dt>
        <dd class="col-sm-7">{{ original_text.translation_set.count|default:'None' }}</dd>
        {% if can_edit and has_object_lock and perms.research.add_translation %}
        <dd class="col-sm-2 actions">
        <a style='float:right' href='{% url "fragment:create_translation" original_text.pk %}'>{% trans 'Add' %}</a>
        </dd>

    </dl>

    {% endif %}
