{% extends "base.html" %}
{% load static humanize %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col">
      <h2>
        {{ object.display_name }}
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col">
        <p class="text-muted">{{ object.username }}</p>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <p>
        <small class="text-muted">Joined {{ object.date_joined|naturaltime }}</small>
      </p>
    </div>
  </div>

  {% if object == request.user %}

  <div class="row">
    <div class="col">
      <p>
        This is your profile.
      </p>
      <p>
        <a href="{% url 'users:update' %}">Edit Profile</a>
      </p>
    </div>
  </div>

  {% endif %}

</div>
{% endblock content %}

